<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>日常监督</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="../../../css/mui.min.css" rel="stylesheet"/>
  <link href="../../../css/mui.picker.min.css" rel="stylesheet"/>
  <link href="../../../css/mui.poppicker.css" rel="stylesheet"/>
  <link href="../../../css/common.css" rel="stylesheet"/>
  <style>
    .view-content-item {
      height: auto;
      margin: 0px 20px;
    }

    .view-content-item .view-title {
      font-size: 14px;
      color: #444444;
      text-align: left;
      /* padding: 20px 0px 20px 0; */

    }

    #label {
      font-size: 14px;
      font-weight: 500;
      color: #1A1616;
    }


    #OA_task_1 .mui-table-view-cell .span2, .span1, .span4 {
      font-size: 16px;
      font-weight: 500;
      color: #191515;
      line-height: 24px;
      display: inline-block;
      box-sizing: border-box;
      overflow: scroll;
      white-space: nowrap;
      /* border: 1px solid red; */
    }

    .mui-table-view-cell::-webkit-scrollbar {
      display: none;
    }

    .content {
      width: 100%;
      background: #FFFFFF;
    }

    .ulCss {
      width: 100%;
      padding: 0 20px;
      margin: 0;
    }

    .ulCss .liCss {
      list-style-type: none;
      width: 100%;
      border-bottom: 1px solid #DEDEDE;
      display: inline-block;
      height: auto;
      padding: 20px 0
    }

    .ulCss .liCss .span1 {
      font-size: 14px;
      font-weight: 400;
      color: #191515;
      width: 20px;
      line-height: 18px;
      vertical-align: top;
      display: inline-block;
    }

    .ulCss .liCss .span2 {
      font-size: 16px;
      font-weight: 400;
      color: #191515;
      line-height: 18px;
      width: calc(100% - 80px);
      display: inline-block;
      vertical-align: top;
      word-break: break-all;
      text-align: left;
      margin-left: 20px;
    }
    .engNames-list{
        height: 55px;
        text-align: left;
        line-height: 55px;
        padding-left:22px;
        font-weight: bold;
        border-bottom: 0.5px solid #EDEDED;
    }
    .eng-item{
        height:55px;
        line-height: 55px;
        border-bottom: 0.5px solid #EDEDED;
        display: flex;
        justify-content : space-between
    }
    .eng-item-list{
        text-align: left;
        padding-left: 23px;
        padding-right: 20px;
    }
  </style>
</head>

<body>
<!--页面主结构开始-->
<div id="app" class="mui-views">
  <div class="mui-view">
    <div class="mui-navbar">
    </div>
    <div class="mui-pages">
    </div>
  </div>
</div>
<!--页面主结构结束-->
<!--单页面开始-->
<div id="mui-content" class="mui-page">
  <!--页面标题栏开始-->
  <!-- <header class="mui-bar mui-bar-nav common-header">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">缺陷管理列表</h1>
  </header> -->
  <!--页面标题栏结束-->
  <!--页面主内容区开始-->
  <div class="mui-page-content">
    <div id="ALL" class="mui-scroll-wrapper">
      <div class="mui-scroll">
        <div class="scroll-li">
          <div class="view-content">
            <div class="info-bar-content">
              <div class="search-bar">
                <div class="search-item">
                  <div class="search-icon">
                    <img src="../../../img/commom/search1@2x.png"/>
                  </div>
                  <div class="search-input">
                    <div class="mui-input-row" style="text-align: left">
                      <input id="search_input" value="" type="text" style="width: 90%;" placeholder="请输入项目名称|项目编号">
                      <!-- <span class="mui-icon mui-icon-close delete-icon1" onclick="deleteDate('search_input')"></span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="view-content-item" style="line-height: 53.5px;">
              <div id="openFactor" style="display: flex;justify-content: space-between;">
                <div class="view-title search-tip">
                  <img src="../../../img/fujin-icon.png"
                       style="width: 16px;height: 15px;line-height: 15px;vertical-align:middle;margin-right: 10px"/>
                  <span id="label" style="line-height: 16px;">项目总量</span><span id="num"
                                                                               style="color: #337BFC;font-weight:bold;margin-left: 10px;">8</span>
                </div>
                <!-- 	<div id="toOverview">
                        <img src="../../../img/overview-tubiao.png" style="width: 16px;height: 16px;line-height: 16px;vertical-align:middle;" />
                        <span id="label" style="display:inline-block;line-height: 16px;color: #337BFC;font-weight:bold;">概览图表</span>
                    </div> -->
              </div>
            </div>

            <div id="content">
                <div class="engNames-list">
                    <div>工程名称</div>
                </div>
                <div class="eng-item-list ">
                    <!-- <div class="eng-item">
                        <div class="engName">回归1号</div>
                        <div class="to-detail">质安监管 <span class="mui-icon mui-icon-arrowright"></span></div>
                    </div>
                    <div class="eng-item">
                        <div class="engName">福田通水渠</div>
                        <div class="to-detail">质安监管 <span class="mui-icon mui-icon-arrowright"></span></div>
                    </div>
                    <div class="eng-item">
                        <div class="engName">水井通水</div>
                        <div class="to-detail">质安监管 <span class="mui-icon mui-icon-arrowright"></span></div>
                    </div> -->
                </div>
              <ul id="OA_task_1" class="mui-table-view">
                <!-- <li class="mui-table-view-cell">
                    <div id="" style="margin: 10px 0;padding: 0;display: flex;justify-content: space-between;">
                        <span class="span2" style="display:inline-block;width:30%;font-weight: 500;color: #191515;margin-left: 15px;">HJD-2D312...</span>
                        <span class="span4">未完工</span>
                        <span class="span2" style="display:inline-block;width:30%;margin-left:10px;font-weight: 500;color: #191515;">格特图地点打开就封ID</span>
                    </div>
                </li> -->

              </ul>
            </div>
            <div id="no-data" style="display: none;padding:50px 0;">暂无数据</div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!--页面主内容区结束-->
</div>

</body>
<script type="text/javascript" src="http://gd.wiseom.cn/supermap/mapbox-gl-enhance.js"></script>
<script type="text/javascript" src="http://gd.wiseom.cn/supermap/iclient-mapboxgl.min.js"></script>
<script src="http://gd.wiseom.cn/mobile-lib/mobile-lib.umd.js"></script>

<script src="../../../js/mui.min.js"></script>
<script src="../../../js/mui.view.js"></script>
<script src="../../../js/mui.locker.js"></script>
<script src="../../../js/mui.picker.min.js"></script>
<script src="../../../js/mui.poppicker.js"></script>
<script src="../../../js/jquery.min.js"></script>


<script src="../../../js/config.js"></script>
<script src="../../../js/common.js"></script>
<script src="../../../js/app.js"></script>
<script src="../../../js/qualityControl/qualityControl.js"></script>
<script src="../../../js/helper.js"></script>
<script src="../../../js/s4.js"></script>
<script src="../../../js/smutils.js"></script>
<script src="../../../js/byte&string.js"></script>
<script src="../../../js/ajaxhook.min.js"></script>
<!-- <script src="../../../js/vconsole.min.js"></script> -->
<script>
    // var vConsole = new VConsole();
    //列表全局参数
    var param = {
        pageNo: 1, //页码
        pageSize: 10,
        order: 'desc',
        field: 'id,prjName,programme,conservationStatus,action',
        column: 'createTime',
        prjName: '',
        username: ''
    }

    var projectInfo = {
        prjId: "",
        prjName: "",
        prjCode: "",
        pageCount: 1
    }
    var copyData = [];
    var inputState = false;
    var sum = 0; //总数
    var self;
    mui.init({
        // 0818 上拉加载
        pullRefresh: {
            container: '#ALL', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
            //下拉刷新
            down: {
                style: 'circle',
                auto: true,
                callback: function () {
                    console.log("触发刷新")
                    page = 1;
                    pulldownRefresh();
                }
            },
            //上拉加载
            up: {
                // auto: true, // 可选,默认false.自动上拉加载一次
                height: 50, //触发上拉加载拖动距离
                contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
                contentnomore: '暂无更多数据', //可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: function () {
                    upLoadMore();
                } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }

        },
        swipeBack: false
    });

    // //下拉刷新
    function pulldownRefresh() {
        $("#OA_task_1").empty();
        param.pageNo = 1;
        $("#num").html(0)
        param.prjName = ''
        // getCount()
        mixSearch(true, false, function (data) {
            if (data.length < param.pageSize) {
                //不再执行上拉
                console.log("暂无更多数据")
                app.toast("已加载完所有项目")
                mui('#ALL').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
                mui('#ALL').pullRefresh().disablePullupToRefresh();
            } else {
                console.log("有数据")
                mui('#ALL').pullRefresh().endPullupToRefresh(false); //参数为false代表还有更多数据了。
            }
        })
        //激活上拉
        mui('#ALL').pullRefresh().refresh(true);
        mui('#ALL').pullRefresh().endPulldown(true);
    }

    // //上拉加载
    function upLoadMore() {
        mixSearch(false, true, function (data) {
            if (data.records.length < param.pageSize) {
                //不再执行上拉
                console.log("===暂无更多数据")
                app.toast("已加载完所有项目")
                mui('#ALL').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
                mui('#ALL').pullRefresh().disablePullupToRefresh();

            } else {
                console.log("有数据")
                mui('#ALL').pullRefresh().endPullupToRefresh(false); //参数为false代表还有更多数据了。
            }
        });
    }


    //初始化单页view
    var viewApi = mui('#app').view({
        defaultPage: '#mui-content'
    });
    //初始化单页的区域滚动
    //注意：列表的自动滑动属性会影响滑动效果，必须注释掉
    // mui('.mui-scroll-wrapper').scroll();

    mui.plusReady(function () {
        
        var url = config.urls.baseUrl + config.actions.getProjectListName;
        app.showLoader()
        var params={}
        getProjectList(params,function(data){
            listDataAnalyze(data)
        })

        param.username = app.userInfo().personName;
        self = plus.webview.currentWebview();
        if (self.pageCount != undefined) {
            projectInfo.pageCount = self.pageCount + 1;
        }

        self.setStyle({
            titleNView: {
                backgroundImage: "../../../img/enginering/map-icon.png",
                backgroundRepeat: 'no-repeat',
                buttons: [{
                    float: 'right',
                    width: '70',
                    height: '50',
                    fontSize: '17',
                    text: '',
                    onclick: function () {
                        var extras = {
                            target: self.target,
                            targetName: self.targetName
                        }
                        console.log("====targetPage:" + JSON.stringify(extras));
                        app.openPage("overview_map.html", {
                            titleNView: {
                                titleText: '项目概览',
                                autoBackButton: true,
                            }
                        }, extras);
                    }
                }],
            }
        });

        exitProject('', (res) => {
            // console.log(res)
        })

        //设置附近的混接点个数
        // $("#num").html(num);
        // mixSearch();
        //其他页面回来时进行刷新
        window.addEventListener('refresh', function (e) {
            // window.location.reload();
            $("#OA_task_1").empty();
            param.pageNo = 1;
            $("#num").html(0)
            param.prjName = ''
            mixSearch(false, false, function (data) {
                app.toast("已获取最新数据")
            })
            //激活上拉
            mui('#ALL').pullRefresh().refresh(true);
            mui('#ALL').pullRefresh().endPulldown(true);
        })

    });

    //返回页面刷新
    window.addEventListener('return', function () {
        // window.location.reload();
        $("#OA_task_1").empty();
        param.pageNo = 1;
        $("#num").html(0)
        param.prjName = ''
        mixSearch(false, false, function (data) {
            app.toast("已获取最新数据")
        })
        //激活上拉
        mui('#ALL').pullRefresh().refresh(true);
        mui('#ALL').pullRefresh().endPulldown(true);
        window.scrollTo(0, 0);
    }, false);

    /**
     * @param fn {Function}   实际要执行的函数
     * @param delay {Number}  延迟时间，也就是阈值，单位是毫秒（ms）
     * @return {Function}     返回一个“去弹跳”了的函数
     */
    function debounce(fn, delay) {
        // 定时器，用来 setTimeout
        var timer
        // 返回一个函数，这个函数会在一个时间区间结束后的 delay 毫秒时执行 fn 函数
        return function () {
            // 保存函数调用时的上下文和参数，传递给 fn
            var context = this
            var args = arguments
            // 每次这个返回的函数被调用，就清除定时器，以保证不执行 fn
            clearTimeout(timer)
            // 当返回的函数被最后一次调用后（也就是用户停止了某个连续的操作），
            // 再过 delay 毫秒就执行 fn
            timer = setTimeout(function () {
                fn.apply(context, args)
            }, delay)
        }
    }

    //搜索框
    $("#search_input").on('input', debounce((e) => {
        param.pageNo = 1;
        $("#OA_task_1").empty();
        $("#num").html(0)
        if ($("#search_input").val() != "") {
            inputState = true;
            console.log("*" + $("#search_input").val() + "*")
            param.prjName = "*" + $("#search_input").val() + "*";
        } else {
            inputState = false;
            param.prjName = ''
            // mui('#ALL').pullRefresh().endPullupToRefresh(false); //参数为false代表还有更多数据了。
            mui('#ALL').pullRefresh().refresh(true);
            mui('#ALL').pullRefresh().endPulldown(true);
        }
        mixSearch(false, false, function (data) {
            if (data.length == 0) {
                $("#no-data").fadeIn();
                $("#num").html(0);
                mui('#ALL').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
                mui('#ALL').pullRefresh().disablePullupToRefresh();
            }
        })
    }, 600))

    /**
     * 查询列表数据
     * @param {Object} isLoading 是否显示加载框
     * @param {Object} append 是否追加
     * @param {Object} callback
     */
    function mixSearch(isLoading, append, callback) {
        // console.log(JSON.stringify(param))
        $("#no-data").hide();
        getProjectListByRole(param, isLoading, function (data) {
            if (data.success == true) {
                if (data.result != null && data.result.length != 0) {
                    copyData = data.result;
                    console.log("请求成功" + copyData);
                    getListData(data.result, append);
                    callback(data.result);
                } else if ($("#list").find("li").length == 0) {
                    $("#no-data").fadeIn();
                    $("#num").html(0);
                }
            } else {
                mui.toast("项目列表查询失败");
            }
        })
    }

    function exitProject(param, callback) {
        var url = config.urls.baseUrl + config.actions.exitProject;

        app.showLoader();
        $.ajax(url, {
            data: '',
            dataType: 'json', //服务器返回json格式数据
            type: 'GET', //HTTP请求类型
            headers: {
                // "Content-Type": "application/json",
                "Content-Type": "application/x-www-form-urlencoded",
                "X-Access-Token": app.sessionId(),
            },
            timeout: config.settings.requestTimeOut, //超时时间设置为10秒；
            success: function (data) {
                app.hideLoader();
                if (dealingWithResponseCode(data)) {
                    callback(data);
                    // mui.alert(data.message)
                } else {
                    app.toast(data.message);
                }
            },
            error: function (xhr, type, errorThrown) {
                // var res = xhr.responseText;
                // res = JSON.parse(res)
                // mui.alert(res.message)
                dealingWithErrorRequest(errorThrown);
                app.hideLoader();
                return callback('网络异常,请稍后再试');
            }
        });
    };

    function selectProject(param, callback) {
        var url = config.urls.baseUrl + config.actions.selectProject;
    
        app.showLoader();
        $.ajax(url, {
            data: param,
            dataType: 'json', //服务器返回json格式数据
            type: 'GET', //HTTP请求类型
            headers: {
                // "Content-Type": "application/json",
                "Content-Type": "application/x-www-form-urlencoded",
                "X-Access-Token": app.sessionId(),
            },
            timeout: config.settings.requestTimeOut, //超时时间设置为10秒；
            success: function (data) {
                app.hideLoader();
                if (dealingWithResponseCode(data)) {
                    callback(data);
                    // mui.alert(data.message)
                } else {
                    app.toast(data.message);
                }
            },
            error: function (xhr, type, errorThrown) {
                var res = xhr.responseText;
                res = JSON.parse(res)
                mui.alert(res.message)
                dealingWithErrorRequest(errorThrown);
                app.hideLoader();
                return callback('网络异常,请稍后再试');
            }
        });
    };

    function getListData(data, append) {
        // console.log("***********:"+JSON.stringify(data))
        // console.log("***********:"+JSON.stringify(data.records[0].dailyName))
        var li = "";
        var index = $("#OA_task_1").find("li").length;
        console.log("**************数组长度***********" + data.records.length);
        for (var i = 0; i < data.records.length; i++) {
            var dataJson = JSON.stringify(data.records[i]);
            // console.log(JSON.stringify(dataJson.stage))
            index++;
            // var color = dataJson.stage < 5 ? "#FF5656" : "#29CC85";
            // var statusText = dataJson.stage < 5 ? "未完工" : "已完工";
            li +=
                `<li class="mui-table-view-cell"  prjId=${data.records[i].projectId} prjName=${data.records[i].prjName}  prjCode=${data.records[i].prjCode} prjNo=${data.records[i].prjNo} prjType=${data.records[i].prjType}>
											<div id="" style="margin: 10px 0;padding: 0;display: flex;justify-content: space-between;">
												<span class="span2" style="display:inline-block;width:30%;font-weight: 500;color: #191515;text-align:left">${data.records[i].prjNo}</span>
												<span class="span4" style="color:${''}">${''}</span>
												<span class="span2" style="display:inline-block;width:30%;margin-left:10px;font-weight: 500;color: #191515;">${data.records[i].prjName}</span>
											</div>
										</li>`;
            // li +=
            // 	`<li class="liCss" id=${data[i].guid} name=${data[i].prjName}><span class="span1">${index}</span><span class="span2" style="color:${color}">${data[i].prjName}</span><a class="look" style="display:none;">查看</a><div style="display:none">${dataJson}</div></li>`;
        }
        // console.log(append + "===" + li)
        if (append) {
            $("#OA_task_1").append(li);
        } else {
            $("#OA_task_1").html(li);
        }
        param.pageNo++;
        console.log(data.total);
        $("#num").html(data.total);
        $("#OA_task_1").css("margin-bottom", "20px");
        //加载完数据，结束转雪花进度条的“正在刷新...”过程
        mui('#ALL').pullRefresh().endPulldown();
        //加载完数据，结束转雪花进度条的“正在加载...”过程
        mui('#ALL').pullRefresh().endPullupToRefresh();
    }

    $("#OA_task_1").on('tap', '.mui-table-view-cell', function () {
        // 将项目信息保存到localStorage
        projectInfo.prjId = $(this).attr('prjId');
        projectInfo.prjName = $(this).attr('prjName');
        projectInfo.prjCode = $(this).attr('prjCode');
        projectInfo.prjNo = $(this).attr('prjNo');
        projectInfo.prjType = $(this).attr('prjType');
        // console.log("projectInfo=" + JSON.stringify(projectInfo))
        localStorage.setItem("projectInfo", JSON.stringify(projectInfo))

        console.log("====targetPage:" + self.target + ",targetName:" + self.targetName);
        // selectProject({'prjCode': projectInfo.prjCode}, (res) => {
        //     console.log(JSON.stringify(res));
        //     return false
        //     app.openPage(self.target, {
        //         titleNView: {
        //             titleText: self.targetName,
        //             autoBackButton: true,
        //         }
        //     }, projectInfo);
        // })
        app.openPage("../dailyControl/questionList.html", {//
            titleNView: {
                titleText: self.targetName,
                autoBackButton: true,
            }
        }, projectInfo);

    })

    概览图表
    $("#toOverview").on('tap', function() {
        app.openPage("index.html", {
            titleNView: {
                titleText: "项目概览",
                autoBackButton: true,
            }
        }, {});
    })

    查看
    $("#OA_task_1").on('tap', '.look', function (e) {
        e.stopPropagation()

    })


    window.addEventListener('refresh1', function (e) { //执行刷新
        // location.reload();
        $("#list").empty();
        param.pageNo = 1;
        $("#num").html(0)
        param.prjName = ''
        mixSearch(false, false, function (data) {
            app.toast("已获取最新数据")
        })
        //激活上拉
        mui('#ALL').pullRefresh().refresh(true);
        mui('#ALL').pullRefresh().endPulldown(true);
    });


    处理页面返回
    mui.back = function() {
        console.log("要关闭的页面数：" + projectInfo.pageCount)
        // var wvs = plus.webview.all();
    
        var curr = plus.webview.currentWebview();
        var wvs = plus.webview.all();
        for (var i = 0, len = wvs.length-1; i < len; i++) {
            //关闭除setting页面外的其他页面
            // console.log(i+wvs[i].getURL())
            let theurl = wvs[i].getURL() + '';
            if (!(theurl.search('login.html') != -1 ||
                    theurl.search('www/main.html') != -1 ||
                    theurl.search('www/index.html') != -1 ||
                    theurl.search('/engineering/index.html') != -1)){
                // plus.webview.close(wvs[i]);
                // // console.log(i)
                wvs[i].close('none');
            }
        }
    
        // console.log(curr.getURL())
        curr.close('slide-out-right');
    
    }
    function listDataAnalyze(data){
                $("#num").html(data.length)
                var listDetail = null
                var str=""
                for(var i=0;i<data.length;i++){
                    listDetail = `
                        <div class="eng-item">
                                    <div class="engName">${data[i].projectModel.projectName}</div>
                                    <div class="to-detail">质安监管<span class="mui-icon mui-icon-arrowright"></span></div>
                        </div>
                    `
                    str += listDetail 
                }
                $(".eng-item-list").append(str)
            }
</script>

</html>
