<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>质安监管-结果通知</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../../css/mui.min.css" rel="stylesheet" />
    <link href="../../../css/common.css" rel="stylesheet" /> 
    <link href="../../../css/mui.picker.min.css" rel="stylesheet" />    
    <link href="../../../css/mui.poppicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/mui.imageviewer.css" />
    <style>
        .mui-page-content{
            padding-top:44px !important;
        }
        .recordInp::placeholder{
            text-align: right;
        }
        .recordInp{
            text-align: right;
            padding:10px 0 10px 15px !important;
        }
        .record-list{
           padding:0 20px 0 20px;
        }
        .lable{
            position: relative;
            text-align: left;
            padding:11px 0 11px 8px !important;
            height: 55px;
        }
        .lable span{
            position: absolute;
            top:15px;
            left:0px;
            color: #DB2828;
        }
        .date-item{
            position: relative;
        }
        .date-select{
            position: absolute;
            right: 0px;
            top:10px;
            font-size:16px;
        }
        .dateSelect{
            text-align: left !important;;
            width: 120px !important;
            font-size:  16px !important; ;
        }
        .dateSelect::placeholder{
            text-align: left;
            font-size: 16px;
        }
        .dateSelect-fill{
            text-align: left !important;;
            width: 120px !important;
            font-size:  16px !important; ;
        }
        .dateSelect-fill::placeholder{
            text-align: left;
            font-size: 16px;
        }
        .day-record{
            position: relative;
        }
        .dayRecord{
            position: absolute;
            right: 0px;
            top:10px;
        }
        .dayRecord span{
            font-size: 16px;
            color: #C5C5C5;
        }
        /* ------------- */
        .issues-total{
            display: flex;
            justify-content: space-between;
            padding:0 16px;
            height: 55px;
            line-height: 55px;
            font-size: 14px;
        }
        .total{
            color:#0493F3;
        }
        .mui-icon-bars{
            font-size: 14px;
            color:#0493F3;
        } 
        .bar{
            font-size: 18px;
            color:#0493F3;
        }  
        /* ------------*/
        
        .issues-list-item{
            padding:10px 10px 4px 10px;
            text-align: left;
            background: #f4f4f4;
        }
        .issues-item-probably{
            font-size: 14px;
            padding-left: 20px;
            padding-right: 27px;
            padding-bottom: 20px;
            padding-top:1px;
            background: #fff;
            border-radius: 5px;
        }
        .item-list{
            margin-top:20px;
            display: flex;
            
        }
        .text-ellipsis{
            overflow: hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .fixed{
            color:#8C8C8C;
            display: inline-block;
            white-space:nowrap;
            margin-right: 8px;
        }
        .dynamic{
            color:#444444;
        }
        .pic{
            border-radius: 5px;
            display: flex;
            flex-direction:row;
            flex-wrap:wrap;
            overflow:hidden;
        }
        .quesList_img>img{
            width: 72px;
            height: 72px;
            border-radius: 5px;
            margin-right: 2px;
            margin-bottom: 2px;
            
        }
        .setHeight{
            height: 72px;
        }
        .item-probably-bot{
            margin-top:20px;
            border-top: solid 0.5px #EDEDED;
            line-height: 44px;
            height: 44px;
            display: flex;
            justify-content: space-between;
        }
        .corner{
            font-size: 18px;
            color: #C5C5C5;
            line-height: 44px;
        }
        
        .cut{
            font-size: 14px;
            color: #444444;
        }
        
        .hidden{
            display: none;
        }
        
        /* ----- */
        .page-middle .for_result{
            display: flex;
            height: 55px;
            align-items: center;
        }
        .page-middle .for_result .check-item {
            display: flex;
            justify-content: space-between;
        }
        .checkbox{
            display: flex !important;
            align-items: center !important;
            justify-content:flex-start !important;
        }
        .checkbox label{
            margin-left:  -28px !important;;
        }
        .checkbox input{
            margin-left:-20px;
        }
        .page-bottom{
            padding-left: 20px;
        }
        .remark-text{
            height: 55px;
            text-align: left ;
            line-height: 55px;
            border-top:solid 0.5px #EDEDED;
            border-bottom: solid 0.5px #EDEDED;
        }
        /* ---------- */
        .page-footer{
            padding:0 20px 0 20px;
        }
        .page-footer .f-item-list{
            height: 55px;
            line-height: 55px;
            display: flex;
            justify-content: space-between;
        }
        .page-footer .f-item-list input{
            border:none;
            text-align: right;
        }
        .page-footer .f-item-list input::placeholder{
            text-align: right;
            font-size: 16px;
        }
        .page-footer .dateS{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 12px;
        }
        /* ------ */
        .footer-btn{
            height: 98px;
            background: #F4F4F4;
            line-height: 98px;
        }
        .footer-btn .btn-sub{
            width: 335px;
            height: 48px;
            background: #0493F3;
            color:#fff;
            font-size: 18px;
            text-align: center;
            border-radius: 4px;
            margin: 0 auto;
            vertical-align:middle;
            line-height: 48px;
            display: inline-block;
        }
        /*  */
        .file_upload{
            padding: 3px 0;
            width: 90px;
            background: #337BFC;
            border: 1px solid #337BFC;
            border-radius: 26px;
        }
        .btn-label{
            font-size: 12px;
            font-weight: 400;
            color: #B1B1B1;
            line-height: 14px;
        }
        .issues-item{
            margin-bottom: 20px;
        }
        .inputRow{
            border-bottom: 1px solid #EDEDED;
            
        }
        .lable{
            position: relative;
            top: 10px;
        }
        .recordInp{
            position: relative;
            top:10px;
        }
        .isWrap{
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
    </style>
    
</head>
<body>
    <!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<!--页面主结构结束-->
        <div id="mui-content" class="mui-page">
            <!--单页面标题开始-->
            <!-- <header class="mui-bar mui-bar-nav common-header">
                <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
                <h1 class="mui-title">新增问题</h1>
            </header> -->
            <!--页面标题栏结束-->
            <!-- 页面主要内容区开始 -->
            <div class="mui-page-content">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <div class="record-list">
                            <div class="mui-input-row input-row-item inputRow">
                                <label class="lable"><span>*</span>工程名称</label>
                                <input type="text" class=" recordInp projectName" readonly="readonly" placeholder="工程名称">
                            </div>                       
                            <div class="mui-input-row input-row-item inputRow">
                                <label class="lable"><span>*</span>受检单位</label>
                                <input type="text" class=" recordInp checkCorpName"  placeholder="受检单位名称">
                            </div>
                            <!-- <div class="mui-input-row input-row-item">
                                <label class="lable">施工单位</label>
                                <input type="text" class=" recordInp engineerUnitName" readonly="readonly" placeholder="施工单位名称">
                            </div> -->
                            <div class="mui-input-row input-row-item inputRow">
                                <label class="lable"><span>*</span>监督内容</label>
                                <input type="text" class=" recordInp supervisorUnitName" readonly="readonly" placeholder="监督内容">
                            </div>
                            <div class="mui-input-row input-row-item date-item inputRow">
                                <label class="lable" style="width:120px;"><span>*</span>实际检查日期</label>
                                <input type="text" readonly="readonly" class="inputStyle recordInp dateSelect actualCheckTime" placeholder="2021-04-19"/>
                                <span class="date-sidesli"><img src="../../../img/cal.png" style="width:16px;height:16px;position: absolute;right: 0px;top:22px;" alt=""></span>
                            </div>
                            <div class="mui-input-row input-row-item date-item inputRow">
                                <label class="lable"><span>*</span>回复期限</label>
                                <input type="text" readonly="readonly" class="inputStyle recordInp dateSelect replyDate" placeholder="回复期限"/>
                                <span class="date-sideslip"><img src="../../../img/cal.png" style="width:16px;height:16px;position: absolute;right: 0px;top:22px;" alt=""></span>
                            </div>
                            <!-- <div class="mui-input-row input-row-item record-type day-record">
                                <label class="lable"><span>*</span>检查类型</label>
                                <div class="dayRecord " ><span class="dailyCheckTypeStr" style="color: #000;">日常检查</span><span class="mui-icon mui-icon-arrowright"></span></div>
                            </div> -->
                            <div class="mui-input-row input-row-item inputRow">
                                <label class="lable">通知书编号</label>
                                <input type="text" class=" recordInp informNum"  placeholder="请输入通知书编号">
                            </div>
                        </div>                        
                        <div class="issues-total">
                            <div class="issues-total-left">
                                <img src="../../../img/fujin-icon.png"
                       style="width: 13px;height: 14px;line-height: 14px;vertical-align:middle;margin-top: -2px"/>
                                <span class="issues-text">内容明细</span>:
                                <span class="total">0</span>
                            </div>  
                            <!-- <div class="issues-total-right">
                                <span class="mui-icon mui-icon-arrowdown top-bar hidden bar"></span>
                                <span class="mui-icon mui-icon-arrowup bottom-bar  bar"></span>
                            </div> -->
                        </div>
                        <div class="problemList">
                            <!-- <div class="issues-item">
                                <div class="issues-item-probably">
                                    <div class="item-list ">
                                        <span class="fixed">问题类型:</span>
                                        <span class="dynamic">地基与基础</span>
                                    </div>
                                    <div class="item-list ">
                                        <span class="fixed">检查结果:</span>
                                        <span class="dynamic text-ellipsis">安全管理制度、操不完善操作规程不完善操作规程不完善操作规程不完善</span>
                                    </div>
                                    <div class="item-list ">
                                        <span class="fixed">整改要求:</span>
                                        <span class="dynamic text-ellipsis">这里是一段很长的整改要求， 这里是2111111111的is阿杰科技</span>
                                    </div>
                                    <div class="item-list">
                                        <span class="fixed">相关图片:</span>
                                        <div class="pic dynamic clearfix">
                                            <img src="http://img.hc360.com/shoes/info/images/200812/200812100834368125.jpg" alt="">
                                            <img src="http://img.hc360.com/shoes/info/images/200812/200812100834368125.jpg" alt="">
                                            <img src="http://img.hc360.com/shoes/info/images/200812/200812100834368125.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item-probably-bot">
                                        <span class="cut cut1 ">详情</span>
                                        <span class="cut cut2 hidden">收起</span>
                                        <span  class="mui-icon mui-icon-arrowdown corner corner1"></span>
                                        <span  class="mui-icon mui-icon-arrowup hidden corner corner2"></span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="page-middle">
                            <!-- <div class="for_result">
                                <div class="item-titlt" style="width:25%;white-space:nowrap;text-align: left;padding-left:20px ;">
                                    检查结果
                                </div>
                                <div class="check-item">
                                    <div class="mui-input-row mui-checkbox mui-left checkbox" style="width:80px;white-space:nowrap;">
                                        <label>纠正</label>
                                        <input class="checkboxI" name="input_hasEslCode"  disabled  value="1" type="checkbox" >
                                    </div>
                                    <div class="mui-input-row mui-checkbox mui-left checkbox" style="width:80px;white-space:nowrap;">
                                        <label>整改</label>
                                        <input class="checkboxI" name="input_hasEslCode"  disabled value="2" type="checkbox" >
                                    </div>
                                    <div class="mui-input-row mui-checkbox mui-left checkbox" style="width:100px;white-space:nowrap;">
                                        <label>停工整改</label>
                                        <input class="checkboxI" name="input_hasEslCode"  disabled value="3" type="checkbox" >
                                    </div>
                                </div>
                            </div> -->
                            
                            <div class="page-footer">
                                <div class="mui-input-row input-row-item inputRow">
                                    <label class="lable">答复单</label>
                                    <input type="text" class=" recordInp response" readonly="readonly" value="上传文件" style="color:#0493F3;margin-right:20px;width:100px;font-size: 16px;">
                                    <span class="date-sideslipp"><img src="../../../img/file_upload_icon.png" style="width:14px;height:12px;position: absolute;right: 0px;top:25px;" alt=""></span>
                                </div>
                                
                                <div class="attachment">
                                    <div class="attachment-item" id="reformFile1" style=" display: none;">

                                    </div>
                                </div>

                                <div class="mui-input-row input-row-item inputRow">
                                    <label class="lable">附件</label>
                                    <input type="text" class=" recordInp accessory" readonly="readonly" value="上传文件" style="color:#0493F3;margin-right:20px;width:100px;font-size: 16px;">
                                    <span class="date-sideslipp"><img src="../../../img/file_upload_icon.png" style="width:14px;height:12px;position: absolute;right: 0px;top:25px;" alt=""></span>
                                </div>

                                <div class="attachment">
                                    <div class="attachment-item" id="reformFile2" >

                                    </div>
                                </div>

                                <div class="mui-input-row input-row-item inputRow">
                                    <label class="lable">填写人</label>
                                    <input type="text" class=" recordInp realname" readonly="readonly" placeholder="自动回填">
                                </div>
                                <div class="mui-input-row input-row-item inputRow">
                                    <label class="lable">填写部门</label>
                                    <input type="text" class=" recordInp inputDepartmenFullname" readonly="readonly" placeholder="自动回填">
                                </div>
                                <div class="mui-input-row input-row-item inputRow">
                                    <label class="lable">联系方式</label>
                                    <input type="text" class=" recordInp mobilePhone" readonly="readonly" placeholder="自动回填">
                                </div>
                                <div class="mui-input-row input-row-item date-item inputRow">
                                    <label class="lable" >填写日期</label>
                                        <input type="text" readonly="readonly" class="inputStyle recordInp  dateSelect-fill inputDate" placeholder="自动回填"/>
                                        <span class="date-sideslipp"><img src="../../../img/cal.png" style="width:16px;height:16px;position: absolute;right: 0px;top:22px;" alt=""></span>
                                </div>                                
                            </div>
                        </div>
                        <div class="footer-btn">
                            <div class="btn-sub">打印</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</body>
    <script src="../../../js/mui.min.js"></script>
    <script src="../../../js/mui.view.js"></script>
    <script src="../../../js/mui.locker.js"></script>
    <script src="../../../js/mui.picker.min.js"></script>
    <script src="../../../js/mui.poppicker.js"></script>

    <script src="../../../js/qualityControl/qualityControl.js"></script>
    <script src="../../../js/config.js"></script>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/uploadimage.js"></script>
    <script src="../../../js/mui.zoom.js"></script>
    <script src="../../../js/mui.previewimage.js"></script>
    <script>
        mui.init({});
		//初始化单页view
		var viewApi = mui('#app').view({
			defaultPage: '#mui-content'
		});
		//初始化单页的区域滚动
		mui('.mui-scroll-wrapper').scroll();
        var notiParams = {
            attachment:'',
            checkCorpName:'',
            checkDate:'',
            corpName:'',
            createRealName:'',
            dailyId:'',
            dailyName:'',
            // guid:'',
            mobilePhone:'',
            needReply:'',
            noticeNo:'',
            projectName:'',
            recordId:'',
            replyAttachment:'',
            replyEndTime:'',
            strAttachment:[]
        }
        var strAttachment = [{
			"groupId":'',
			"fileTokens": '',
			"fieldName": "attachment",
			"tableName": "SAFETY_EDUCATION_PLAN"
		}];
        var strAttachmentObj = {
			"groupId": '',
			"fileTokens": '',
			"fieldName": "attachment",
			"tableName": "SAFETY_EDUCATION_PLAN"
		};
        var checkDerails = []
        var resFileToken = []
        var self
        var problemImgListObj = {}
        var imgUrl = []
        var isUpload1 = true
        var isUpload2 = true
		mui.plusReady(function(){
            self = plus.webview.currentWebview()
            strAttachment[0].groupId = uuid()
            strAttachmentObj.groupId = uuid()
            
            if(self.dataRIndex){
                var params = {guid:self.dataRIndex.guid}
                var url = config.urls.baseUrl + config.actions.getRecordDetail
                var type = 'get'
                app.showLoader()
                getProject(url,params,type,function(data){
                    data = data.result
                    $(".projectName").val(data.projectModel.projectName)
                    $(".supervisorUnitName").val(data.dailyName)
                    $(".actualCheckTime").val(data.actualCheckTime)
                    $(".realname").val(data.createByModel.realname)
                    $(".inputDepartmenFullname").val(data.projectModel.inputDepartmenFullname)
                    $(".mobilePhone").val(data.createByModel.mobilePhone)
                    $(".inputDate").val(data.createTime.split(' ')[0])
                    notiParams.recordId = data.recordId
                    notiParams.dailyId = data.guid
                    console.log('params.recordId='+params.recordId)
                    console.log('params.dailyId='+params.dailyId)
                    var problemData = data.problemList[0].checkResults
                    getALLProblem(problemData)
                    getParams(problemData)

                })
            }else{
                var type = 'get'
                var urlRecord = config.urls.baseUrl + config.actions.getRecordList
                var params = {projectName:self.projectName}
                app.showLoader()
                getProject(urlRecord,params,type,function(dataList){
                    dataList = dataList.result.records[0]
                    var type = 'get'
                    var urlRecordDetail = config.urls.baseUrl + config.actions.getRecordDetail
                    var params = {guid:dataList.guid}
                    getProject(urlRecordDetail,params,type,function(dataR){
                        dataR = dataR.result
                        $(".projectName").val(dataR.projectModel.projectName)
                        $(".supervisorUnitName").val(dataR.dailyName)
                        $(".actualCheckTime").val(dataR.actualCheckTime)
                        $(".realname").val(dataR.createByModel.realname)
                        $(".inputDepartmenFullname").val(dataR.projectModel.inputDepartmenFullname)
                        $(".mobilePhone").val(dataR.createByModel.mobilePhone)
                        $(".inputDate").val(dataR.createTime.split(' ')[0])
                        
                        notiParams.recordId = dataR.recordId
                        notiParams.dailyId = dataR.guid
                        var problemData = dataR.problemList[0].checkResults
                        // getPronlemView(self.resProblemList,self.resImgUrl)
                        getALLProblem(problemData)
                        getParams(problemData)
                    })
                })
                
            }
            // var imgUrl = self.imgUrl
            // $(".total").html(self.dataProblemList.length)
            // var dataProblemList = self.dataProblemList
            // var getRecordProblem = null
            // for(var i=0;i<dataProblemList.length;i++){
            //     if(dataProblemList[i].detailCheckProject == null){
            //         dataProblemList[i].detailCheckProject = '无'
            //     }
            //     if(dataProblemList[i].detailCheckContent == null){
            //         dataProblemList[i].detailCheckContent = '无'
            //     }
            //     if(dataProblemList[i].correctRequirement == null){
            //         dataProblemList[i].correctRequirement = '无'
            //     }
            //     getRecordProblem = `
            //     <div class="issues-item" >
            //                         <div class="issues-item-probably">
            //                             <div class=" mui-checkbox  " style="padding-bottom:2px;;white-space:nowrap;">
            //                                 <label></label>
            //                                 <input class="" name="input_problem" required="true" placeholder="123" value=${i} type="checkbox" style="position:relative;right:10px;border-color:#0493F3 !important;">
            //                             </div>
            //                             <div class="item-list ">
            //                                 <span class="fixed">问题类型:</span>
            //                                 <span class="dynamic ">${dataProblemList[i].detailCheckProject}</span>
            //                             </div>
            //                             <div class="item-list ">
            //                                 <span class="fixed">检查结果:</span>
            //                                 <span class="dynamic ">${dataProblemList[i].detailCheckContent}</span>
            //                             </div>
            //                             <div class="item-list ">
            //                                 <span class="fixed">整改要求:</span>
            //                                 <span class="dynamic ">${dataProblemList[i].correctRequirement}</span>
            //                             </div>
            //                             <div class="item-list">
            //                                 <span class="fixed">相关图片:</span>
            //                                 <div class="photo${i} pic dynamic clearfix setHeight">
                                                
            //                                 </div>
            //                             </div>
                                        
            //                         </div>
            //                     </div>
            //     `
            //     // <div class="item-probably-bot">
            //     //                             <span class="cut cut1 ">详情</span>
            //     //                             <span class="cut cut2 hidden">收起</span>
            //     //                             <span  class="mui-icon mui-icon-arrowdown corner corner1"></span>
            //     //                             <span  class="mui-icon mui-icon-arrowup hidden corner corner2"></span>
            //     //                         </div>
            //     $(".issues-list-item").append(getRecordProblem)
            //     if (imgUrl[i].result && imgUrl[i].result.length && imgUrl[i].result[0].uploadFile){
            //             for(var j=0;j<imgUrl[i].result.length;j++){
            //                 let path = imgUrl[i].result[j].uploadFile.savePath;
            //                 let url = config.urls.baseUrl + 'sys/common/view/' + path;
                            
            //                 var html = '<div class="quesList_img">' +
            //                         '		<img class="img_src imgCss" data-preview-src="" data-preview-group="1" src="' + url + '" style=""/>' +
            //                         '	</div>';
            //                 $(`.photo${i}`).append(html)        
            //             }
            //     }else{
            //         $(`.photo${i}`).html('<div>无</div>')
            //         // $(`.photo${i}`).removeClass('setHeight')
            //     }                
            // }
            
        })
        $(".date-sideslip").on('tap',function() {
            var dtPicker = new mui.DtPicker({type:'date'}); 
            dtPicker.show(function (selectItems) { 
                var y = selectItems.y.text;  //获取选择的年
                var m = selectItems.m.text;  //获取选择的月
                var d = selectItems.d.text;  //获取选择的日
                var date = y + "-" + m + "-" + d ;
                //    console.log(date)
                $(".replyDate").val(date)  
            })
        })

        function getPronlemView(dateProblemList,imgUrlArr) {
            $(".problemList").empty()
            $(".total").html(dateProblemList.length)
            console.log('dateProblemList='+JSON.stringify(dateProblemList))
            console.log(dateProblemList.length)
            console.log(JSON.stringify(imgUrlArr))
            if(dateProblemList.length != 0){
                for(var i=0;i<dateProblemList.length;i++){
                    a=''
                    if(dateProblemList[i].detailCheckProject == null){
                        dateProblemList[i].detailCheckProject = '无'
                    }
                    if(dateProblemList[i].detailCheckContent == null){
                        dateProblemList[i].detailCheckContent = '无'
                    }
                    if(dateProblemList[i].correctRequirement == null){
                        dateProblemList[i].correctRequirement = '无'
                    }
                    
                    getRecordProblem = `
                    <div class="issues-list-item" >
                        <div class="date-title" style="font-size:14px;">${dateProblemList[i].checkDate}</div>
                                        <div class="issues-item">
                                            <div class="issues-item-probably" >
                                            
                                            <div class="item-list ">
                                                <span class="fixed">问题类型:</span>
                                                <span class="dynamic isWrap">${dateProblemList[i].detailCheckProject}</span>
                                            </div>
                                            <div class="item-list ">
                                                <span class="fixed">检查结果:</span>
                                                <span class="dynamic isWrap">${dateProblemList[i].detailCheckContent}</span>
                                            </div>
                                            <div class="item-list ">
                                                <span class="fixed">整改要求:</span>
                                                <span class="dynamic isWrap">${dateProblemList[i].correctRequirement}</span>
                                            </div>
                                            <div class="item-list">
                                                <span class="fixed">相关图片:</span>
                                                <div class="photo${i} pic dynamic clearfix ">  
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                    `
                    // <div class="item-probably-bot">
                    //                             <span class="cut cut1 ">详情</span>
                    //                             <span class="cut cut2 hidden">收起</span>
                    //                             <span  class="mui-icon mui-icon-arrowdown corner corner1"></span>
                    //                             <span  class="mui-icon mui-icon-arrowup hidden corner corner2"></span>
                    //                         </div>
                    $(".problemList").append(getRecordProblem)
                    
                    if (imgUrlArr[i].result && imgUrlArr[i].result.length && imgUrlArr[i].result[0].uploadFile){
                            for(var j=0;j<imgUrlArr[i].result.length;j++){
                                let path = imgUrlArr[i].result[j].uploadFile.savePath;
                                let url = config.urls.baseUrl + 'sys/common/view/' + path;
                                var html = '<div class="quesList_img">' +
                                        '		<img class="img_src imgCss" data-preview-src="" data-preview-group="1" src="' + url + '" style=""/>' +
                                        '	</div>';
                                $(`.photo${i}`).append(html)
                                
                                a = a + imgUrlArr[i].result[j].fileToken + ','  
                            }

                    }else{
                        $(`.photo${i}`).html('<div>无</div>')
                        $(`.photo${i}`).removeClass('setHeight')
                        a = ''
                    }
                    
                    resFileToken.push(a)
                    
                }
                
                }
        }

        //上传附件
        $('.response').on('tap',function(){
                event.stopPropagation();
				if(isUpload1){
					isUpload1 = false;
					let fileSuffix = 'jpg、png、jpeg、rar、zip、doc、docx、pdf、xls、xlsx';
					plusSelectFile(fileSuffix,function(data, path) {
						if (data.success) {
							console.log(JSON.stringify(data))
							strAttachment[0].fileTokens = data.result.fileTokens;
							var fileType = data.result.uploadFile.fileType;
							var name = path.substring(path.lastIndexOf("/") + 1, path.length);
							var iconPath="";
			
							if (fileType == '.jpg' || fileType == '.png' || fileType == '.jepg'||
								fileType == '.pdf' || fileType == '.doc' || fileType == '.docx'||
								fileType == '.xls' || fileType == '.xlsx' || fileType == '.rar'  || fileType == '.zip') {
								switch(fileType){
									case '.doc':
									case '.docx':
										iconPath='../../../img/commom/doc.png';
										break;
									case '.pdf':
										iconPath='../../../img/commom/pdf.png';
										break;
									case '.xls':
									case '.xlsx':
										iconPath='../../../img/commom/xlsx.png';
										break;
									case '.rar':
										iconPath='../../../img/commom/rar.png';
										break;
									case '.zip':
										iconPath='../../../img/commom/zip.png';
										break;	
								}
								app.toast("文件上传成功");
			
								plus.io.resolveLocalFileSystemURL(path, function(entry) {
									entry.file(function(file) {
										let fileSize = Math.floor(file.size / 1024);						
										var str = '';
										if(fileType == '.jpg' || fileType == '.png' || fileType == '.jepg'){
											str = `
                            <div id=${data.result.uploadFile.id} data-token=${data.result.fileTokens} 
                                class="img_item" style="border:solid 0.5px #EDEDED;text-align: left;margin: 10px 0;border-radius: 5px;padding:5px 0 5px 0;">
                                		<img class="img_src imgCss" data-preview-src="" data-preview-group="1" src= ${path} style="width: 40px;height: 45px;vertical-align: middle;margin-left:10px"  />
                                        <div id="" style="display: inline-block;vertical-align: middle;margin: 8px 0 0 4px;width:70%;">
                                                <div id="file_name" style="color:#191515;word-break: break-all;font-size:14px;">${data.result.uploadFile.fileName}</div>
                                                <div id="file_size" style="color: #191515;font-size:12px;">${fileSize}KB</div>
                                            </div>
                                </div>
                                `


												$("#reformFile1").css("text-align","left")
												$("#reformFile1").css("height","120px")
										}else{
											 str = `<div class="fileContent-item"` +
												` data-token="` + data.result.fileTokens + `"` +
												`<div style="padding:12px 0 10px 5px;display:flex;font-size:14px;border:solid 0.5px #EDEDED;margin-top:2px;border-radius:5px;">
																<div class="typeImg">
																	<img src=${iconPath} style="width: 40px;height: 45px;"></img>
																</div>
																<div class="fileContent-item-title" style="display:flex;flex-direction:column;margin-left:12px;font-size:14px;text-algin:left;">
																	<span class="titleSpan">` +
												name +
												`</span>
															<span class="fileSize" style="font-size:12px;">`+file.size+`KB</span>
														</div>
														<div class="removeFile" style="margin-left:160px;">
															<img src="../../../img/commom/del.png" style="width: 18px;height: 18px;"></img>
														</div>											
													</div>
												</div>`											
										}
										// $("#fileId").val(data.result.uploadFile.id);
										// $("#attachDiv").css("height","200px")
                                        $("#reformFile1").css('display','block')
										$("#reformFile1").append(str);
										$("#reformFile1").show();
                                        // $("#reformFile").css("border","solid 0.5px #EDEDED")
										$(".response").attr("disabled", true);
                                        
									});
								}, function(e) {
									alert("文件获取失败:" + e.message);
								});
							} else {
								app.toast("文件必须为jpg、png、jpeg、rar、zip、doc、docx、pdf、xls、xlsx格式，请重新上传！");
							}
						} else {
							app.toast(data.message);
						}
					})
				} 
            });
            $('.accessory').on('tap',function(){
                event.stopPropagation();
				if(isUpload2){
					isUpload2 = false;
					let fileSuffix = 'jpg、png、jpeg、rar、zip、doc、docx、pdf、xls、xlsx';
					plusSelectFile(fileSuffix,function(data, path) {
						if (data.success) {
							console.log(JSON.stringify(data))
							strAttachmentObj.fileTokens = data.result.fileTokens;
                            strAttachment.push(strAttachmentObj)
							var fileType = data.result.uploadFile.fileType;
							var name = path.substring(path.lastIndexOf("/") + 1, path.length);
							var iconPath="";
			
							if (fileType == '.jpg' || fileType == '.png' || fileType == '.jepg'||
								fileType == '.pdf' || fileType == '.doc' || fileType == '.docx'||
								fileType == '.xls' || fileType == '.xlsx' || fileType == '.rar'  || fileType == '.zip') {
								switch(fileType){
									case '.doc':
									case '.docx':
										iconPath='../../../img/commom/doc.png';
										break;
									case '.pdf':
										iconPath='../../../img/commom/pdf.png';
										break;
									case '.xls':
									case '.xlsx':
										iconPath='../../../img/commom/xlsx.png';
										break;
									case '.rar':
										iconPath='../../../img/commom/rar.png';
										break;
									case '.zip':
										iconPath='../../../img/commom/zip.png';
										break;	
								}
								app.toast("文件上传成功");
			
								plus.io.resolveLocalFileSystemURL(path, function(entry) {
									entry.file(function(file) {
										let fileSize = Math.floor(file.size / 1024);						
										var str = '';
										if(fileType == '.jpg' || fileType == '.png' || fileType == '.jepg'){
											str = '<div id="' + data.result.uploadFile.id + '" data-token="' + data.result.fileTokens +
												'" class="img_item">' +
												'		<img class="img_src imgCss" data-preview-src="" data-preview-group="1" src="' + path + '" style="width: 40px;height: 45px;"  />' +
												'		<span id="closeImg" class=" myImgClose mui-icon mui-icon-closeempty" style="    font-size: 16px;color: #888888;background: #E7E7E7;border-radius: 50%;"></span>' +

												'	</div>';
												$("#reformFile2").css("text-align","left")
												$("#reformFile2").css("height","120px")
										}else{
											 str = `<div class="fileContent-item"` +
												` data-token="` + data.result.fileTokens + `"` +
												`<div style="padding:12px 0 10px 5px;display:flex;font-size:14px;border:solid 0.5px #EDEDED;margin-top:2px;border-radius:5px;">
																<div class="typeImg">
																	<img src=${iconPath} style="width: 40px;height: 45px;"></img>
																</div>
																<div class="fileContent-item-title" style="display:flex;flex-direction:column;margin-left:12px;font-size:14px;text-algin:left;">
																	<span class="titleSpan">` +
												name +
												`</span>
															<span class="fileSize" style="font-size:12px;">`+file.size+`KB</span>
														</div>
														<div class="removeFile" style="margin-left:160px;">
															<img src="../../../img/commom/del.png" style="width: 18px;height: 18px;"></img>
														</div>											
													</div>
												</div>`											
										}
										// $("#fileId").val(data.result.uploadFile.id);
										// $("#attachDiv").css("height","200px")
										$("#reformFile2").append(str);
										$("#reformFile2").show();
                                        // $("#reformFile").css("border","solid 0.5px #EDEDED")
										$(".accessory").attr("disabled", true);
									});
								}, function(e) {
									alert("文件获取失败:" + e.message);
								});
							} else {
								app.toast("文件必须为jpg、png、jpeg、rar、zip、doc、docx、pdf、xls、xlsx格式，请重新上传！");
							}
						} else {
							app.toast(data.message);
						}
					})
				} 
            });

            function getALLProblem(problemData){
                // var data = problemData
                $('.total').html(problemData.length)
                for(var i=0;i<problemData.length;i++){
                    var item = problemData[i]
                    // if(console.log('data='+JSON.stringify(data)))
                    // if(!item.attachment && !problemImgListObj[item.attachment]){
                        // return
                        // return
                        
                        queryPhoto(item.attachment, function (imgData) {
                            // console.log(JSON.stringify(item.attachment),'item.attachment')
                                if(imgData.success){
                                        problemImgListObj[item.attachment] = imgData
                                        console.log(JSON.stringify(imgData))
                                        
                                }else{
                                    app.toast('获取图片失败,请检查网络')
                                    problemImgListObj[item.attachment].result = []
                                }
                                // console.log(JSON.stringify(problemImgListObj[item.attachment]))
                                // if(imgData.success){
                                //     problemImgListObj[item.attachment] = imgData
                                // }else{
                                //     problemImgListObj[item.attachment] = null
                                // }
                        })
                        imgUrl.push(problemImgListObj[item.attachment])  
                        
                    // }     
                    
                }
                // console.log(JSON.stringify(problemImgListObj,'123'))
                // for(key in problemImgListObj){
                //     imgUrl.push(problemImgListObj[key])
                // }
                // console.log(JSON.stringify(imgUrl[9]))
                // return
                var getProblem = null
                for(var i=0;i<problemData.length;i++){
                    if(problemData[i].detailCheckProject == null){
                        problemData[i].detailCheckProject = '无'
                    }
                    if(problemData[i].detailCheckContent == null){
                        problemData[i].detailCheckContent = '无'
                    }
                    if(problemData[i].correctRequirement == null){
                        problemData[i].correctRequirement = '无'
                    }
                    getProblem = `
                    <div class="issues-list-item">
                        <div class="date-title" style="font-size:14px;">${problemData[i].checkDate}</div>
                        <div class="issues-item">
                            <div class="issues-item-probably">
                                <div class="item-list ">
                                    <span class="fixed">问题类型:</span>
                                    <span class="dynamic isWrap">${problemData[i].detailCheckProject}</span>
                                </div>
                                <div class="item-list ">
                                    <span class="fixed">检查结果:</span>
                                    <span
                                    class="dynamic isWrap">${problemData[i].detailCheckContent}</span>
                                </div>
                                <div class="item-list ">
                                    <span class="fixed">整改要求:</span>
                                    <span class="dynamic isWrap">${problemData[i].correctRequirement}</span>
                                </div>
                                <div class="item-list">
                                    <span class="fixed">相关图片:</span>
                                    <div class="photo${i} pic dynamic setHeight">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                            </div>
                            
                            
                            `
                            // <div class="item-probably-bot">
                            //         <span class="cut cut1 ">详情</span>
                            //         <span class="cut cut2 hidden">收起</span>
                            //         <span class="mui-icon mui-icon-arrowdown corner corner1"></span>
                            //         <span class="mui-icon mui-icon-arrowup hidden corner corner2"></span>
                            // </div>
                            $('.problemList').append(getProblem)
                            // console.log(JSON.stringify(imgUrl[9],'999999999999999999999'))
                            // return
                        if (imgUrl[i].result && imgUrl[i].result.length && imgUrl[i].result[0].uploadFile){
                            for(var j=0;j<imgUrl[i].result.length;j++){
                                let path = imgUrl[i].result[j].uploadFile.savePath;
                                let url = config.urls.baseUrl + 'sys/common/view/' + path;
                                var a= ''
                                var html = '<div class="quesList_img">' +
                                        '		<img class="img_src imgCss" data-preview-src="" data-preview-group="1" src="' + url + '" style=""/>' +
                                        '	</div>';
                                $(`.photo${i}`).append(html) 
                                a= a + imgUrl[i].result[j].fileToken + ','
                                console.log(url)      
                            }
                        }else{
                            $(`.photo${i}`).html('<div>无</div>')
                            $(`.photo${i}`).removeClass('setHeight')
                            
                        }
                        resFileToken.push(a)    
                }
        }
        function getParams(problemData){
            for(var i=0;i<problemData.length;i++){
                if(problemData[i].strAttachment == null){
                    problemData[i].strAttachment = [{
                        groupId:uuid(),
                        fileTokens:'',
                        fieldName:"attachment",
                        tableName:"EGY_PLAN_FILE"
                    }]
                }
                problemData[i].strAttachment[0].fileTokens = resFileToken[i]
                var problemObj = {
                    attachment:problemData[i].strAttachment[0].groupId,
                    checkItem:problemData[i].detailCheckProject,
                    correctRequirement:problemData[i].correctRequirement,
                    checkResult:problemData[i].detailCheckContent,
                    checkStandardName:problemData[i].checkStandardName,
                    standardId:problemData[i].standardId,
                    strAttachment:problemData[i].strAttachment
                }
                problemObj.strAttachment = JSON.stringify(problemObj.strAttachment)
                checkDerails.push(problemObj)
            }
        }
        $(".btn-sub").on('tap',function(){
            notiParams.checkCorpName = $(".checkCorpName").val()
            notiParams.checkDate = $(".actualCheckTime").val()
            notiParams.corpName = $(".inputDepartmenFullname").val()
            notiParams.createRealName = $(".realname").val()
            notiParams.replyEndTime = $(".replyDate").val()
            notiParams.dailyName = $(".supervisorUnitName").val()
            // params.guid = null
            notiParams.mobilePhone = $(".mobilePhone").val()
            notiParams.needReply = '是'
            notiParams.noticeNo = $(".informNum").val()
            notiParams.projectName = $(".projectName").val()
            notiParams.checkDetails = checkDerails
            notiParams.attachment = strAttachment[0].groupId
            notiParams.replyAttachment = strAttachmentObj.groupId
            notiParams.strAttachment = JSON.stringify(strAttachment)
            var type="post"
            var url = config.urls.baseUrl + config.actions.noticeCheckResultAdd
            console.log(JSON.stringify(resFileToken))
            console.log(JSON.stringify(notiParams))
            getProjectPost(url,notiParams,type,function(data){
                if(data.success){
                    app.toast("新增成功")
                    data = data.result
                    console.log(JSON.stringify(data))
                    var type = 'get'
                    var params = {
                        guid:data.guid
                    }
                    console.log(JSON.stringify(params))
                    var url = config.urls.baseUrl + config.actions.getDownloadResult
                    getProject(url,params,type,function(downData){
                        if(downData.success){
                            console.log('00000000000000000000000000000000000000000000000000000000000000')
                            console.log('下载='+JSON.stringify(downData))
                        }

                        
                    })
                }
            })
        })
    </script>
</html>