<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新增质量日常巡检表单</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="../../../css/mui.min.css" rel="stylesheet"/>
  <link href="../../../css/mui.picker.min.css" rel="stylesheet"/>
  <link href="../../../css/mui.poppicker.css" rel="stylesheet"/>
  <link href="../../../css/common.css" rel="stylesheet"/>
  <link href="../../../css/ps.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="../../../css/mui.imageviewer.css"/>


  <link href="http://gd.wiseom.cn/supermap/iclient-mapboxgl.min.css" rel="stylesheet"/>
  <link href="http://gd.wiseom.cn/supermap/mapbox-gl-enhance.css" rel="stylesheet"/>

  <style>
    .mui-icon-arrowright {
      color: #62666E;
      font-weight: 100 !important;
      width: 16px;
      padding-top: 7px;
    }

    .content {
      overflow: hidden;
      height: calc(100vh - 100px);
    }

    .mui-table-view:before {
      height: 0;
      background-color: #FFFFFF;
    }

    .mui-table-view:after {
      height: 0;
      background-color: #FFFFFF;
    }

    .info-bar-content-item {
      font-size: 14px;
      padding: 10px 0;
      margin: 0 20px;
    }

    .info-bar-content-item .item-title {
      text-align: left;
      color: #888888;
      padding: 0;
      margin: auto 0;
    }

    .info-bar-content-item .item-input {
      text-align: right;
      color: #161515;
      padding-right: 0;
    }

    .mui-checkbox.mui-left label {
      font-size: 14px;
    }

    .page-bottom {
      display: flex;
      padding: 0 20px;
      height: 100px;
      background-color: white;

    }

    .page-bottom button {
      flex: 1;
      margin-top: 30px;
      border-radius: 5px;
      border-color: #0493F3;
      font-size: 16px;
      height: 40px;
      border-width: thin;
    }

    .btn-temp-save {
      color: #0493F3;
      background-color: #FFFFFF;
      margin-right: 15px;
    }

    .btn-agree {
      color: #FFFFFF;
      background-color: #0493F3;
      border: none;
    }

    .img-right-arrow {
      width: 7px;
      height: 12px;
      margin-left: 5px;
    }

    .bor {
      border: 1px dashed #E0E0E0;
      margin-top: 10px;
      border-radius: 5px;
    }

    .paish .mui-checkbox.mui-left label, .mui-radio.mui-left label {
      padding: 11px 0;
      width: 35px;
      text-align: right;
    }

    .mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {
      color: #0493F3;
      font-size: 22px;
    }

    /*		单选框*/
     
    .radio-item {
      width: 50%;
    }

    .radio_inline label {
      /*width: 20%;*/
      /*padding-left: 40px;*/
      /*padding-right: 20px;*/
      padding: 0;
      width: 40px;
      height: 22px;
      margin-left: 20px;
      font-size: 16px;
    }

    .radio_inline input[type=radio] {
      width: 15%;
      right: auto;
    }

    /*//换个样式*/
    .change {
      display: flex;
      align-items: center;
    }

    .change .mui-radio input[type='radio']:checked:before {
      content: '\e442';
      color: #0493F3;
      font-size: 22px;
    }

    .mui-radio input[type=radio] {
      top: 0;
    }

    .clear-red-star {
      margin-left: 16px;
    }


    .file_item {
      text-align: left;
      display: flex;
      align-items: center;
    }

    .mui-btn-blue, .mui-btn-primary, input[type=submit] {
      color: #007aff;
      border: 1px solid #fff;
      background-color: #fff;
    }

  </style>
</head>
<body style="margin: 0;">
<!--页面主结构开始-->
<div id="app" class="mui-views">
  <div class="mui-view">
    <div class="mui-navbar">
    </div>
    <div class="mui-pages">
    </div>
  </div>
</div>
<!--页面主结构结束-->
<!--单页面开始-->
<div id="mui-content" class="mui-page ps" style="background-color: #ffffff;">
  <div id="scroll-wrapper-home" style="height: calc(100vh - 65px);">
    <div class="info-bar-content">

      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>项目名称：
        </div>
        <div class="mui-input-row item-input">
          <input id="projectName" required="true" placeholder="项目名称" readonly/>
        </div>
      </div>


      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>任务名称：
        </div>
        <div class="mui-input-row item-input">
          <input id="taskName" required="true" placeholder="请输入任务名称"/>
        </div>
      </div>


      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>施工单位：
        </div>
        <div class="mui-input-row item-input" id="buildUnitFull">
          <span id="buildUnitFullname">请选择施工单位</span>
        </div>
      </div>

      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>检查日期：
        </div>
        <div class="mui-input-row item-input">
          <span id="checkTime">请选择日期</span>
          <img id="processingDemandsImg" src="../../../img/cal.png"
               style="width: 16px;height: 16px;margin: auto 0px auto 5px"/>
        </div>
      </div>

      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>检查单位：
        </div>
        <div class="mui-input-row item-input" id="acceptor">
          <span id="checkUnitFullname">请选择检查单位</span>
          <img src="../../../img/arrow-right-gray.png" class="img-right-arrow"/>
        </div>
      </div>

      <div class="info-bar-content-item">
        <div class="item-title">
          <span>*</span>检查人员：
        </div>
        <div class="mui-input-row item-input" id="acceptorUsername">
          <span id="checkPerson">请选择检查人员</span>
          <img src="../../../img/arrow-right-gray.png" class="img-right-arrow"/>
        </div>
      </div>

      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>检查情况及发现隐患：
        </div>
      </div>
      <div class="info-bar-content-item">
        <textarea placeholder="请输入检查情况及发现隐患（200字以内）" required="true" maxlength="200"
                  style="min-height: 100px;text-align: start;border: none;color: #191515;font-size: 14px;padding: 15px 0" id="checkContent"></textarea>
      </div>


      <div class="info-bar-content-item" style="display: flex;flex-direction: column">
        <div class="item-title" style="padding: 10px 0px 10px 0px;">
          <span style="color: white">*</span>整改结果：
        </div>
        <div class="item-checkbox" style="">
          <div class="mui-input-row change">
            <div class="radio_inline mui-radio" style="display: flex;width: 100%">
              <div class="radio-item" style="width: 33.3%">
                <input name="initialDesign" type="radio" id="initialDesignOne" value="1">
                <label for="initialDesignOne" style="margin-right: 10px;text-align: left;width: 100%;">按期完成</label>
              </div>
              <div class="radio-item" style="width: 33.3%">
                <input name="initialDesign" type="radio" id="initialDesignTwo" value="2">
                <label for="initialDesignTwo" style="text-align: left;width: 100%;">延期完成</label>
              </div>
              <div class="radio-item" style="width: 33.3%">
                <input name="initialDesign" type="radio" id="initialDesignThree" value="0" checked>
                <label for="initialDesignThree" style="text-align: left;width: 100%;">未完成</label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>整改描述：
        </div>
      </div>
      <div class="info-bar-content-item">
        <textarea placeholder="整改描述（200字以内）" required="true" maxlength="200"
                  style="min-height: 100px;text-align: start;border: none;color: #191515;font-size: 14px;padding: 15px 0" id="rectificationDescription"></textarea>
      </div>

      <div class="info-bar-content-item upload-file-box isShow" id="fileUploadBox" style="border-bottom: 1px solid white;">
        <div class="item-title" >
          <!--													<span class="red-star" id="isRequire">*</span>-->
          <span class="clear-red-star" ></span>附件
          <!--												<span style="color: red;margin-left: 3px;" id="isRequire">*</span>-->
        </div>
        <input id="programme" type="hidden" value="" />
        <div id="file3" class="file_item">
          <button type="button" name="file" id="upload_file" class="file_upload mui-btn mui-btn-primary">上传文件</button>
          <span class="btn-label" style="display: none;">只能上传.doc .docx .pdf文件!</span>
          <img src="../../../img/upfile@2x.png" style="width: 16px;height: 16px; margin-left: 5px;" alt="">
        </div>
      </div>

      <div class="" id="fileBoxItem" style="display: none;border-bottom: 1px solid #EDEDED;width: 90%;margin-left: 5%;">
        <!-- 底下已经控制数据 -->
        <input type="hidden" name="" id="fileToken" value="" />
        <div class="file-item-box" style="background: #F4F7FE;text-align: left;margin: 10px 0;border-radius: 5px;">
          <img id="file_type" src="../../../img/commom/doc.png" style="width: 40px;height: 45px;vertical-align: middle;margin-left:10px">
          <div id="" style="display: inline-block;vertical-align: middle;margin: 12px 0 0 10px;width:70%">
            <p id="file_name" style="font-weight:500;color: #191515;word-break: break-all;"></p>
            <p id="file_size" style="font-weight:400;color: #191515;"></p>
          </div>
          <img class="file_close" src="../../../img/commom/close@2x.png" style="width: 20px;height: 20px; float: right;vertical-align: top;margin: 10px 10px 0 0;">
        </div>
      </div>




      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>填写人：
        </div>
        <div class="mui-input-row item-input">
          <span id="inputFullname">自动填充</span>
        </div>
      </div>
      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>联系方式：
        </div>
        <div class="mui-input-row item-input">
          <span id="inputPhone">自动填充</span>
        </div>
      </div>
      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>填写部门：
        </div>
        <div class="mui-input-row item-input">
          <span id="inputDepartmentFullname">自动填充</span>
        </div>
      </div>
      <div class="info-bar-content-item">
        <div class="item-title">
          <span style="color: white">*</span>填写日期：
        </div>
        <div class="mui-input-row item-input">
          <span id="inputDate">自动填充</span>
        </div>
      </div>





      <div class="page-bottom">
        <button class="btn-agree">提交</button>
      </div>
    </div>
    <!--    </div>-->
    <!--    </div>-->
  </div>
</div>

</body>


<script src="../../../js/vconsole.min.js"></script>
<script src="../../../js/mui.min.js"></script>
<script src="../../../js/mui.view.js"></script>
<script src="../../../js/mui.locker.js"></script>
<script src="../../../js/mui.picker.min.js"></script>
<script src="../../../js/mui.picker.js"></script>
<script src="../../../js/mui.poppicker.js"></script>

<script src="../../../js/app.js"></script>
<script src="../../../js/conservation.js"></script>
<script src="../../../js/config.js"></script>
<script src="../../../js/jquery.min.js"></script>
<script src="../../../js/common.js"></script>
<script src="../../../js/helper.js"></script>
<script src="../../../js/uploadimage.js"></script>
<script src="../../../js/s4.js"></script>
<script src="../../../js/smutils.js"></script>
<script src="../../../js/byte&string.js"></script>
<script src="../../../js/ajaxhook.min.js"></script>
<script src="../../../js/mui.zoom.js"></script>
<script src="../../../js/bscroll.js"></script>
<script src="../../../js/inspection/dailyInspection.js"></script>


<script>
    // var vConsole = new VConsole();

    var operatorType = "add" // 默认 add ； 添加add ，修改 edit，查看show
    var isUpload = true;
    //初始化单页view
    var viewApi = mui('#app').view({
        defaultPage: '#mui-content'
    });

    var userPicker = new mui.PopPicker();

    var mask = mui.createMask(function () {
        return mask.clickClose;
    });

    let param = {
        guid: "",
    }

   /*
    prjCode: prj150
    projectId: 2fb5873bd1660907506c2d4a053bcbe5
    projectName: 挖地球
    buildUnit: 100000060
    buildUnitFullname: 中国电建集团华东勘测设计研究院有限公司
    missionName: c四21
    checkTime: 2021-06-21 20:51:37
    checkUnit: 100000062
    checkUnitFullname: 深圳市水务规划设计院股份有限公司
    checkPerson: duzining
    checkResult: cs
    rectifyResult: 1
    rectifyDiscribe: css
    checkFile: 4b7b94fab13343e29b8ca0caba180603
    inputFullname: 林蔚
    inputPhone: 15606080299
    inputDepartmentFullname: 深圳市水务(集团)有限公司
    inputDepartment:
            inputDate: 2021-06-21 20:51:07
    checkPersonFullname: 杜子宁
    strAttachment: [{"groupId":"4b7b94fab13343e29b8ca0caba180603","fileTokens":"2d527b4fede5237138f7acec8d7691b9","fieldName":"checkFile","tableName":"PROJECT_DAILY_INSPECTION"}]
    */


    let postParam = {
      prjCode: '',
      projectId: '',
      projectName: '',
      buildUnit: '',
      buildUnitFullname: '',
      missionName:'',
      checkTime:'',
      checkUnit:'',
      checkUnitFullname:'',
      checkPerson:'',
      checkResult:'',
      rectifyResult: 0,
      rectifyDiscribe:'',
      checkFile:'',
      inputFullname:'',
      inputPhone:'',
      inputDepartmentFullname:'',
      inputDepartment:'',
      inputDate:'',
      checkPersonFullname:'',
      strAttachment:''
    }

    var projectInfo = "";//存储上一次查看的信息：包括项目信息

    console.log("plusReady==========================================================");
    mui.plusReady(function () {
        var self = plus.webview.currentWebview();
        projectInfo=JSON.parse(localStorage.getItem("projectInfo"))


        postParam.prjCode = projectInfo.prjCode
        postParam.projectId = projectInfo.prjId
        postParam.projectName = projectInfo.prjName
        postParam.inputFullname = app.userInfo().personName
        postParam.inputPhone = app.userInfo().personMobilePhone
        postParam.inputDepartmentFullname = app.userInfo().companyName
        postParam.inputDate = getNowFormatDate()



        $('#projectName').val(projectInfo.prjName)
        $('#inputFullname').text(app.userInfo().personName)
        $('#inputDepartmentFullname').text(app.userInfo().companyName)
        $('#inputPhone').text(app.userInfo().personMobilePhone)
        $('#inputDate').text(getYMD())
        mui('.mui-scroll-wrapper').scroll({
            scrollY: true, //是否竖向滚动
            scrollX: false, //是否横向滚动
            startX: 0, //初始化时滚动至x
            startY: 0, //初始化时滚动至y
            indicators: true, //是否显示滚动条
            deceleration: 0.0006, //阻尼系数,系数越小滑动越灵敏
            bounce: true //是否启用回弹
        });



        console.log(getHMS())

    });

    //获取当前时间
    function getNowFormatDate() {
      var date = new Date();
      var seperator1 = "-";
      var seperator2 = ":";
      var month = date.getMonth() + 1;
      var strDate = date.getDate();
      var hour = date.getHours()
      var m = date.getMinutes()
      var s = date.getSeconds()
      if (month >= 1 && month <= 9) {
        month = "0" + month;
      }
      if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
      }
      if (hour >= 0 && hour <= 9) {
        hour = "0" + hour;
      }
      if (m >= 0 && m <= 9) {
        m = "0" + m;
      }
      if (s >= 0 && s <= 9) {
        s = "0" + s;
      }

      var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
              + " " + hour + seperator2 + m
              + seperator2 + s;
      return currentdate;
    }

    function getYMD(){
      var date = new Date();
      var seperator1 = "-";
      var seperator2 = ":";
      var month = date.getMonth() + 1;
      var strDate = date.getDate();
      if (month >= 1 && month <= 9) {
        month = "0" + month;
      }
      if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
      }
      var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
      return currentdate;
    }

    function getHMS(){
      var date = new Date();
      var seperator1 = "-";
      var seperator2 = ":";
      var month = date.getMonth() + 1;
      var strDate = date.getDate();
      var hour = date.getHours()
      var m = date.getMinutes()
      var s = date.getSeconds()
      if (month >= 1 && month <= 9) {
        month = "0" + month;
      }
      if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
      }
      if (hour >= 0 && hour <= 9) {
        hour = "0" + hour;
      }
      if (m >= 0 && m <= 9) {
        m = "0" + m;
      }
      if (s >= 0 && s <= 9) {
        s = "0" + s;
      }

      var currentdate =  hour + seperator2 + m
              + seperator2 + s;
      return currentdate;
    }


    // 检查类型 选择器
    $("#checkType").on("tap", function() {
      var that = $(this);
      var data = ['安全检查','安全周检','安全月检','其他'];
      var resultJSON = [];
      for (var i = 0; i < data.length; i++) {
        var item = data[i];
        resultJSON.push({
          text: item,
          value: (i + 1)
        })
      }
      if ($(".mui-poppicker").hasClass("mui-active")) {
        userPicker.hide();
        return false;
      } else {
        userPicker.setData(resultJSON);
        userPicker.show(function(items) {
          $("#checkType").text(items[0].text);
          $("#checkTypeInput").val(items[0].value);
        });
      }
      // })
    })



    //必填验证
    function validateRequiredFields() {

      var isVali = true;
      $('input[required="true"],textarea[required="true"]').filter(':visible').each(function(i, requiredField) {
        if ($(requiredField).val() == '') {
          app.toast($(requiredField).attr('placeholder'));
          isVali = false;
          return isVali;
        }
      });
      $('input[type="checkbox"][required="true"]').filter(':visible').each(function(i, requiredField) {
        let checkVal = $("input[name='" + $(requiredField).attr('name') + "']:checked").val();
        if (isEmpty(checkVal) || checkVal === undefined) {
          app.toast($(requiredField).attr('placeholder'));
          isVali = false;
          return isVali;
        }
      });
      return isVali;
    }

    //检查人员
    $('#checkPerson').on('tap',function () {
      var extras =null
      app.openPage("../../commom/organ.html", {
        titleNView: {
          titleText: '选择人员',
          autoBackButton: true
        }
      }, extras);

      var checkPersonBack = function (data) {
        console.log(JSON.stringify(data))
        if (data.detail[0] != undefined) {
          console.log(JSON.stringify(data.detail[0]));
          $("#checkPerson").text(data.detail[0].realname);
          postParam.checkPersonFullname = data.detail[0].realname
          postParam.checkPerson = data.detail[0].username;
        }
        //移除
        window.removeEventListener('returnSelect', checkPersonBack, false);
      }

      //移除
      window.removeEventListener('returnSelect', checkPersonBack, false);
      // 赋值
      window.addEventListener('returnSelect', checkPersonBack, false);
    })


    //选择检查单位
    $("#checkUnitFullname").on("tap", function() {
      var extras = {
        multiSelect: false
      }
      app.openPage("../../commom/unit.html", {
        titleNView: {
          titleText: '选择检查单位',
          autoBackButton: true
        }
      }, extras);

      var checkUnitBack = function(data) {
        if (data.detail[0] != undefined) {
          console.log(JSON.stringify(data.detail[0]))
          $("#checkUnitFullname").text(data.detail[0].title)
          postParam.checkUnitFullname= data.detail[0].title
          postParam.checkUnit = data.detail[0].value
        }
        //移除
        window.removeEventListener('returnSelect', checkUnitBack, false);
      }
      //移除
      window.removeEventListener('returnSelect', checkUnitBack, false);
      // 赋值
      window.addEventListener('returnSelect', checkUnitBack, false);

    })

    //选择检查单位
    // var checkUnitBack = function(data) {
    //   if (data.detail[0] != undefined) {
    //     $("#checkUnitFullname").text(data.detail[0].title)
    //     postParam.checkUnitFullname= data.detail[0].title
    //     postParam.checkUnit = data.detail[0].value
    //   }
    //   //移除
    //   window.removeEventListener('returnSelect', checkUnitBack, false);
    // }



    //选择施工单位
    $("#buildUnitFullname").on("tap", function() {
      var extras = {
        multiSelect: false
      }
      app.openPage("../../commom/unit.html", {
        titleNView: {
          titleText: '选择检查单位',
          autoBackButton: true
        }
      }, extras);
      //移除
      window.removeEventListener('returnSelect', buildUnitBack, false);
      // 赋值
      window.addEventListener('returnSelect', buildUnitBack, false);

    })

    var buildUnitBack = function(data) {
      if (data.detail[0] != undefined) {
        $("#buildUnitFullname").text(data.detail[0].title)
        postParam.buildUnitFullname= data.detail[0].title
        postParam.buildUnit = data.detail[0].value
      }
      //移除
      window.removeEventListener('returnSelect', buildUnitBack, false);
    }



    var fileParm = {
      groupId:'',
      fileTokens:'',
      fieldName:'checkFile',
      tableName:'PROJECT_DAILY_INSPECTION'
    }

    var photoParm = {
      groupId: '',
      fileToken: '',
      fieldName: 'problemPhoto',
      tableName: 'form_base_new'
    }

    //整体图片上传（未完成的）
    $("#updateManagePhoto").on("tap", function () {
        // if(tmpBtnStatus=='false'){ return;}
        plusSelectImage(function (data, path) {
            console.log(JSON.stringify(data))
            if (data.success) {
                $("#managePhoto").show();
                $("#updateManagePhoto").hide();
                $("#managePhoto").attr("src", path);
                photoParm.groupId = data.result.uploadFile.id;
                submitParam.problemPhoto = data.result.uploadFile.id;
                photoParm.fileToken = data.result.fileTokens;
                // }
            } else app.toast(data.message)
        });
    });

    // 选择时间
    $('#checkTime').on('tap', function () {
        var that = $(this);
        plusDateWithDate(function (data) {
            var now = data.getFullYear() + "-" + preZero((data.getMonth() + 1), 2) + "-" + preZero(data.getDate(), 2);
            that.text(now);
            $('#processingDemandsImg').hide();
        });
    })


    //文件上传
    $("#upload_file").on("tap", function() {
      console.log("upload_file")
      if(operatorType == "show") return;
      if (isUpload) {
        isUpload = false;
        let fileSuffix = 'doc、docx、pdf、jpg、png、JPG';
        var that = $(this);
        plusSelectFile(fileSuffix, function(data, path) {
          console.log(path)
          console.log(JSON.stringify(data))
          var suffix = path.substring(path.lastIndexOf(".") + 1, path.length);
          var name = path.substring(path.lastIndexOf("/") + 1, path.length);
          var iconPath = "";
          console.log(suffix)
          switch (suffix) {
            case 'doc':
            case 'docx':
              iconPath = '../../img/commom/doc.png';
              break;
                  // case 'xlsx':
                  // case 'xls':
                  // 	iconPath = '../../img/commom/xlsx.png';
                  // 	break;
            case 'pdf':
              iconPath = '../../img/commom/pdf.png';
              break;
            case 'jpg':
              break;
            case 'JPG':
              break;
            case 'png':
              break;
            default:
              app.toast("只能上传.doc .docx .pdf .jpg .png文件！")
              return;
          }
          if (data.success) {
            app.toast("文件上传成功");
            // document.getElementById('detail2').scrollTop = 0;
            // $("#fileUploadBox").css("height", 180)
            // $("#soilConservationScheme").css("height", 825)
            $("#fileBoxItem").fadeIn()
            that.attr("disabled", true)
            $("#file_type").attr('src', iconPath)
            $("#file_name").html(name)
            $("#programme").val(data.result.fileTokens)
            $("#fileToken").val(data.result.fileTokens)
            postParam.checkFile = data.result.uploadFile.id;
            fileParm.groupId = data.result.uploadFile.id;
            fileParm.fileTokens = data.result.fileTokens;
            console.log(postParam.attachment)
            plus.io.resolveLocalFileSystemURL(path, function(entry) {
              entry.file(function(file) {
                let fileSize = Math.floor(file.size / 1024);
                console.log(file.size + "===" + fileSize)
                $("#file_size").html(fileSize + "KB")
                var fileProperty = {
                  fileName: name,
                  fileType: iconPath,
                  fileSize: file.size,
                  fileToken: data.result.fileTokens
                }
                globalSetItem(GlobalKey.fileProperty, JSON.stringify(fileProperty))
              });
            }, function(e) {
              alert("文件获取失败:" + e.message);
            });
          } else {
            app.toast(data.message);
          }
        })
      }
      setTimeout(function() {
        isUpload = true
      }, 1000)
    });

    //删除文件
    $(document).on("tap", ".file_close", function() {
      var that = $(this)
      mui.confirm("移除该文件?", "提示", ['确定', '我再想想'], function(result) {
        if (parseInt(result.index) == 0) {
          $("#fileUploadBox").css("border-bottom", "1px solid #EDEDED")
          $("#fileBoxItem").hide()
          $("#upload_file").attr("disabled", false)
          $("#fileToken").val("")
          $("#programme").val('')
          globalDelItem(GlobalKey.fileProperty)
        }
      })
    });

    //
    $('input[type=radio][name=initialDesign]').change(function() {
        console.log($(this).attr('id'))
        var state = $(this).prop('checked')
        if(state){
            postParam.rectifyResult = $('#'+$(this).attr('id')+'').val();
            console.log(postParam.rectifyResult)
        }
    })


    /*
   prjCode: prj150
   projectId: 2fb5873bd1660907506c2d4a053bcbe5
   projectName: 挖地球
   buildUnit: 100000060
   buildUnitFullname: 中国电建集团华东勘测设计研究院有限公司
   missionName: c四21
   checkTime: 2021-06-21 20:51:37
   checkUnit: 100000062
   checkUnitFullname: 深圳市水务规划设计院股份有限公司
   checkPerson: duzining
   checkResult: cs
   rectifyResult: 1
   rectifyDiscribe: css
   checkFile: 4b7b94fab13343e29b8ca0caba180603
   inputFullname: 林蔚
   inputPhone: 15606080299
   inputDepartmentFullname: 深圳市水务(集团)有限公司
   inputDepartment:
           inputDate: 2021-06-21 20:51:07
   checkPersonFullname: 杜子宁
   strAttachment: [{"groupId":"4b7b94fab13343e29b8ca0caba180603","fileTokens":"2d527b4fede5237138f7acec8d7691b9","fieldName":"checkFile","tableName":"PROJECT_DAILY_INSPECTION"}]
   */


    //提交成功
    $('.btn-agree').on('tap',function () {



      //要优化
      var isTrue = true
      if($('#taskName').val()==''){
        app.toast('请输入任务名称')
        isTrue = false
      }else if($('#buildUnitFullname').text()=='请选择施工单位'){
        app.toast('请选择施工单位')
        isTrue = false
      }else if( $('#checkTime').text()=='请选择日期'){
        app.toast('请选择日期')
        isTrue = false
      }else if(postParam.checkUnitFullname==''){
        app.toast('请选择检查单位')
        isTrue = false
      }else if(postParam.checkPersonFullname==''){
        app.toast('请选择检查人员')
        isTrue = false
      }


        postParam.cheackType = $('#checkTypeInput').val()
        console.log(postParam.cheackType)
        postParam.missionName = $('#taskName').val()
        postParam.checkTime = $('#checkTime').text() + " " +getHMS()
        postParam.checkResult = $("#checkContent").val();
        postParam.rectifyDiscribe =  $("#rectificationDescription").val();
        var strAttachment = new Array();
        strAttachment.push(fileParm);
        postParam.strAttachment = JSON.stringify(strAttachment);
        console.log(JSON.stringify(postParam))

          if (isTrue) {
            addQualityDailyInspection(postParam, function (data) {
              if (data.success) {
                app.toast("提交成功")
                mui.back()
              } else {
                app.toast("提交失败")
              }
            });
          }

    })


    //子页面添加：

    mui.init({
      beforeback: function() {
        //获得父页面的webview
        var list = plus.webview.currentWebview().opener();
        //触发父页面的自定义事件(refresh),从而进行刷新
        mui.fire(list, 'refresh');
        //返回true,继续页面关闭逻辑
        return true;
      }
    });

    //测试区


    function TestData() {
      $("#fileBoxItem").fadeIn()
      // $("#file_type").attr('src', 'sss')
      $("#file_name").html('sss')
      $("#programme").val('ssga')
      $("#fileToken").val('sgsgs')
      $("#file_size").html( "19.0KB")
      // $("#fileUploadBox").css("height", 180)
    }
    if (false){
      TestData()
    }



</script>
</html>
