<!doctype html>
<html>

	<head>
		<meta charset="utf-8">

		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=10,user-scalable=yes" />
		<link href="../../css/common.css" rel="stylesheet" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.picker.min.css" rel="stylesheet" />
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.view.js"></script>
		<script src="../../js/mui.locker.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/config.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/s4.js"></script>
		<script src="../../js/smutils.js"></script>
		<script src="../../js/byte&string.js"></script>
		<script src="../../js/ajaxhook.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../defects/web/viewer.js"></script>
		<script src="./build/pdf.js" type="text/javascript"></script>
		<script src="../../js/supervision.js"></script>
		<style>
			body {
				margin: 0;
			}

			#showPdf {
				margin-top: 40px;
				height: 100%;
			}

			#showPdf #pdfContainer {
				height: 100vh;
			}

			.monthBtn {
				width: 50px;
				margin: 10px auto;
				text-align: center;
				display: inline-block;
				border-left: 1px solid #EDEDED;
			}

			#monthBtn1 {
				border-left: none !important;
			}

			#scrollWrapper {
				text-align: left;
				white-space: nowrap;
				color: #888888;
			}

			#monthWrapper {
				border-bottom: 1px solid #EEEEEE;
				width: 100%;
				overflow-x: scroll;
				position: fixed;
				background-color: #FFFFFF;
				top: 0;
				left: 0;
				opacity: 1;
			}
		</style>
	</head>

	<body>
		<!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<div class="home-item" style="display: none;" id="home-item">
			<div id="homeTitle" style="font-size: 16px;color: #191515; font-weight: bold; text-align: left;">
				月报查看
			</div>
			<div class="home-item-list" id="business_item">
				<div class="item" id="monitor">
					<img src="../../../img/commom/monitor.png">
					<span>首页</span>
				</div>
				<div class="item" id="riverArchives">
					<img src="../../../img/commom/rivers.png">
					<span>总体情况</span>
				</div>
				<div class="item" id="leaderList">
					<img src="../../../img/commom/leaderList.png">
					<span>巡查记录</span>
				</div>
				<div class="item" id="emergency">
					<img src="../../../img/commom/emergency.png">
					<span>存在问题</span>
				</div>
				
			</div>
		</div>
		<!--页面主结构结束-->

		<!-- 页面主内容开始 -->
		<div id="mui-content">
			<!-- 页面标题栏开始 -->
			<div id="monthWrapper">
				<div id="scrollWrapper"></div>
			</div>

			<div id="showPdf">
				<!-- pdf展示区域 -->
				<iframe id="pdfContainer" src="" width="100%" frameborder="0"></iframe>
			</div>

		</div>
		<!-- 页面标题栏结束 -->

		<script>
			mui.init({
				swipeBack: false
			});
			var self;
			var viewApi = mui('#app').view({
				defaultPage: '#mui-content'
			});
			var isShow = false;
			var Year; //选择查看的年份
			var currentYear; //当前年份
			var lastBtn = null; //上一个点击的月份
			var mask = mui.createMask();
			//页面初始化完成渲染			
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				Year = self.year;
				self.setStyle({
					scalable: true,
					titleNView: {
						buttons: [{
							"color": "white",
							"colorPressed": "gray",
							"float": "right",
							"fontWeight": "200",
							"fontSize": "8px",
							"fontSrc": "../../fonts/iconfont.ttf",
							"text": '● ● ●',
							"onclick": function() {
								if (isShow) {
									isShow = false;
									$("#home-item").show();
									mask.show()
								} else {
									isShow = true;
									$('#home-item').hide();
									mask.close();
								}
							},
							"width": "60px",
						}],
					}
				});
				initMonth();
				initPDFopen();
			});


			// method 
			var setMonthNav = function(num) {
				let str = "";
				for (let i = 1; i <= num; i++) {
					str += `<div id="monthBtn${i}" class="monthBtn" onclick="selectMonth(${i})">${i}月</div>`
				}
				$('#scrollWrapper').html(str);
				initPDFopen();
				if (num == 12) {
					lastBtn = 1;
				}
			}

			var initPDFopen = function() {
				app.toast("PDF正在拼命加载中！\n若加载时间过长,再次点击相应月份刷新！")
				if (currentYear == null) {
					console.log(1)
					setTimeout(function() {
						initPDFopen();
					}, 5)
				}

				var date = new Date();

				if (currentYear > Year) {
					selectMonth(1);
					var oInit = document.getElementById('monthBtn' + lastBtn);
					oInit.style.color = "#337BFC";
				} else {
					let num = date.getMonth() + 1
					selectMonth(num);
					var oInit = document.getElementById('monthBtn' + num);
					oInit.style.color = "#337BFC";
					lastBtn = num;
				}
			}

			var initMonth = function(callback) {
				var date = new Date();
				currentYear = date.getFullYear();
				if (currentYear > Year) {
					setMonthNav(12);
				} else {
					setMonthNav(date.getMonth() + 1);
				}
			}

			var selectMonth = function(month) {
				var beginTime;
				var endTime;
				var Month;
				var btnId = "month" + month;
				if (month / 10 < 1) {
					Month = "0" + month
				} else {
					Month = month
				}

				if (currentYear > Year) {
					//获取本年本月的第一天日期
					var date = new Date(Year, month - 1, '01');
					//设置日期 
					date.setDate(1);
					//设置月份 
					date.setMonth(month);
					//获取本月的最后一天 
					cdate = new Date(date.getTime() - 1000 * 60 * 60 * 24);
					endTime = Year + "-" + Month + "-" + cdate.getDate();
				} else {
					var today = new Date().getDate();
					var endTime = Year + "-" + Month + "-" + today;
				}
				beginTime = Year + "-" + Month + "-" + "01";
				var loginUser = app.userInfo().realname

				getPDFResourse({
					beginTime,
					endTime,
					month,
					loginUser
				});

				var oClick = document.getElementById('monthBtn' + month);
				var oLastClick = document.getElementById('monthBtn' + lastBtn);
				if (lastBtn != month) {
					lastBtn = month;
					oClick.style.color = "#337BFC";
					oLastClick.style.color = "#888888";
				}
			}

			var getPDFResourse = function(params) {
				var url = config.urls.baseUrl + config.actions.monthReport + "?beginTime=" + params.beginTime + "&endTime=" +
					params.endTime +
					"&month=" + params.month + "&loginUser=" + params.loginUser;
					
					// console.log(url)
				$("#pdfContainer").attr("src", "../defects/web/viewer.html?file=" + encodeURIComponent(url));
			}

			// listener & init
			mui.back = function() {
				plus.webview.close(self)
			}

			$(window).resize(function() {
				console.log("resize")
			})
		</script>
	</body>

</html>
