.mui-col-xs-6 {
	text-align: left;
}

.mui-table-view-cell.mui-collapse.mui-active .arrow_right {
	transform: rotate(90deg);
	margin-left: 5px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-slider {
	height: 100vh;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 2px solid #337BFC;
	color: #337BFC;
}

.mui-table-view-cell.mui-collapse.mui-active+.www .arrow_right {
	transform: rotate(90deg);
	margin-left: 5px;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-bottom: 0;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 0;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active+.titleleft {
	border-bottom: solid 2px #337BFC;
	display: inline-block;
}

.mui-segmented-control .mui-control-item {
	line-height: 43px;
}

.mui-table-view-cell:after {
	left: 1px;
	background-color: #F4F4F4;
	height: 10px;
}

.mui-scroll {
	background: #FFFFFF;
}

.task-ul {
	padding: 0;
}

.task-li {
	border-bottom: 5px solid #F4F4F4;
	height: 110px;
	padding: 0 20px;
}

.task-item {
	/* height: 50px; */
	line-height: 50px;
	/* padding: 0 5px; */
}

.task-item-btn {
	width: 50%;
	float: left;
	text-align: right;
	white-space: nowrap;
	padding: 0 0 0 5px;
}

.task-item-btn span {
	padding: 5px 15px;
	border: 1px solid #347CFC;
	color: #347CFC;
	border-radius: 21px;
	font-size: 12px;
}

.task-item-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.task-item-title span {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}

.task-item-tip {
	color: #989898;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

.task-item-running {
	color: #FF5656;
	font-size: 13px;
	text-align: right;
	/* margin-right: 20px; */
}

.task-item-finished {
	color: #29CC85;
	font-size: 13px;
	text-align: right;
	/* margin-right: 20px; */
}

.task-item-ischange {
	color: #FF7800;
	font-size: 13px;
	text-align: right;
	/* margin-right: 20px; */
}

.task-item_status {
	position: absolute;
	top: 8px;
	right: 5px;
}

.bottom-item {
	background: #FFFFFF;
	position: absolute;
	/* height: 300px; */
	width: 100%;
	bottom: 0;
	z-index: 100;
	text-align: left;
}

.bottom-item-btn-list {
	/* height: 200px; */
	width: 98%;
	position: absolute;
}

.fanwei {
	white-space: nowrap;
	display: inline-block;
	width: 280px;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left
}

.bottom-item-btn-list .bottom-item-btn-list-top {
	width: 100%;

}

.item1 {
	position: absolute;
	top: 4px;
	z-index: 10;
	right: 0px;
	text-align: center;
	line-height: 24px;
	vertical-align: bottom;
	padding: 0 14px;
	border: 1px solid #337BFC;
	border-radius: 20px;
	height: 26px;
	font-size: 12px;
}

.item2 {
	position: absolute;
	top: 4px;
	z-index: 10;
	right: 0px;
	text-align: center;
	line-height: 24px;
	vertical-align: bottom;
	padding: 0 14px;
	border: 1px solid #337BFC;
	border-radius: 20px;
	height: 26px;
	font-size: 12px;
}

.item3 {
	position: absolute;
	top: 4px;
	z-index: 10;
	right: 64px;
	text-align: center;
	line-height: 24px;
	vertical-align: bottom;
	padding: 0 14px;
	/* border: 1px solid #337BFC; */
	border-radius: 20px;
	height: 26px;
	font-size: 12px;
}

.mui-navigate-left:after {
	content: '\e472';
	left: 5px;
	bottom: 50px;
}

/* .object {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
} */

.li-item {
	background-color: white;
}

.li-item-pull {
	background-color: #F4F4F4 !important;
}

.li-margin {
	margin-bottom: 13px;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 0px;
	font-size: 13px;
	padding-bottom: 10px;
}

.in-obj {
	font-weight: 400;
	color: #888888;
	margin-right: 7px;
}

.obj-title {
	color: #444444;
}

.bgc-white {
	background-color: white;
}

.bgc-grey {
	background-color: #F4F4F4;
}

.mui-navigate-r {
	background: #fff;
}

.icon-css {
	display: inline-block;
	padding: 8px 0 0;
	vertical-align: top;
}

.task_title {
	display: inline-block;
	padding: 8px 0;
	color: #191515;
	font-size: 15px;
	font-weight: 500;
	width: 50%;
	word-break: break-all;
	white-space: pre-wrap;
}

.sec-line {
	color: #878787;
	font-size: 14px;
}

/* 	.arrow_right{
				transform: rotate(90deg);
			} */
.ul-mar-bottom {
	margin-bottom: -18px;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: 0;
	padding: 0;
}

.mui-table-view-cell.mui-active {
	background: #fff;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active.titleleft {
	border-bottom: solid 3px #337BFC;
	display: inline-block;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active.titleright {
	border-bottom: solid 3px #337BFC;
	display: inline-block;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active .lb {
	border-bottom: solid 3px #337BFC;
	display: inline-block;
	font-weight: bold;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active .dt {
	border-bottom: solid 3px #337BFC;
	display: inline-block;
	font-weight: bold;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: 7px solid #F4F4F4
}

.color888 {
	color: #888888;
}

.ibh {
	display: inline-block;
	line-height: 28px;
}

.no-data {
	position: absolute;
	top: 10rem;
	left: 50%;
	display: inline-block;
	font-size: 20px;
	color: #999;
	transform: translateX(-50%);
}

.showMore {
	display: inline-block;
}


/*进行中-地图*/
html,
body {
	height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
	bottom: 55%;
	left: 10px;
	position: fixed;
}

.mui-scroll {
	/* background: url(../img/temp_dt.png) no-repeat center; */
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.search-bar {
	background: none;
	height: 80px;
	line-height: 80px;
}

.search-input .mui-input-row .mui-input-clear~.mui-icon-clear {
	top: 12px;
	width: 40px;
	height: 40px;
}

.search-item {
	background: #FFFFFF;
	height: 40px;
	border-radius: 16px;
}

.search-input {
	height: 40px;
	line-height: 40px;
}

.search-icon img {
	top: 30%;
	margin-left: 18.5px;
}

/* .btn1{
				position: fixed;
				width: 70px;
				bottom: 200px;
				right: 0;
				margin-right: 5px;
				z-index: 100;
				text-align: right;
			}
			.btn2{
				position: fixed;
				width: 80px;
				bottom: 53px;
				right: 0;
				margin-right: 15px;
				z-index: 100;
				text-align: right;
			} */
/* .add_btn{
				position: fixed;
				width: 70px;
				bottom: 300px;
				right: 0;
				margin-right: 5px;
				z-index: 100;
				text-align: right;
			}
			.add_btn img{
				width: 70px;
			} */
.stat {
	font-size: 14px;
	font-weight: 500;
	color: #FF5656;
}

.location_btn {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 45%;
	left: 10px;
	z-index: 100;
	text-align: center;
	border-radius: 10px;
	background: #FFFFFF;
}

.ws_btn {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 60%;
	right: 10px;
	z-index: 100;
	text-align: center;
	border-radius: 10px;
	background: #FFFFFF;
}

.ys_btn {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 60%;
	right: 10px;
	z-index: 100;
	text-align: center;
	border-radius: 10px;
	background: #FFFFFF;
}

.location_btn img {
	width: 30px;
	margin-top: 10px;
}

.bottom-item {
	padding: 19px;
	background: #FFFFFF;
	position: fixed;
	height: 160px;
	width: 100%;
	bottom: 0;
	z-index: 1000;
	left: 0;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	text-align: left;
}

.bottom-item-title {
	font-size: 18px;
	color: rgba(22, 21, 21, 1);
	font-weight: bold;
}

/* 	.bottom-item-info{
				font-size:14px;
				color:rgba(25,21,21,1);
				line-height:21px;
				height:21px;
				padding: 18px 0px;
				border: 1px solid red;
			} */

.bottom-item-btn {
	height: 200px;
}

.bottom-item-btn .item {
	width: 50%;
	float: left;
	text-align: center;
	padding: 0 14px;
}

.bottom-item-btn .item div {
	border: 1px solid #347CFC;
	border-radius: 20px;
	height: 40px;
	margin-top: 12px;
	line-height: 40px;
	font-size: 16px;
}

#obj {
	background-color: white;
	position: fixed;
	width: 100%;
	/* height: 150px; */
}

#left_item {
	padding: 15px;
	background: #FFFFFF;
	position: fixed;
	bottom: 10%;
	left: 19px;
	z-index: 100;
	border-radius: 5px;
	text-align: left;
}

#left_item ul li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	/*border-top: 10px solid #f02e2e;*/
	margin-bottom: 10px;
	top: 200px;
	position: fixed;
}

.mui_rank {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	background: url(../img/commom/tingwei.png) no-repeat center;
}

.row-1 {
	font-size: 14px;
	font-weight: 500;
	color: #888888;
}

.row_span {
	font-size: 14px;
	font-weight: 500;
	color: #444444;
	margin-left: 15px;
}

.box:nth-last-child {
	border: none;
}


#title-task{
	display: flex;
	justify-content: space-between;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5px;
}
#obj-t{
	font-size: 32px;
	font-family: PingFang SC;
	font-weight: bold;
	color: #191515;
}
.item-left{
	font-family: PingFang SC;
	font-weight: 400;
	color: #888888;
	line-height: 14px;
}