.lanmu {
	height: 40px;
	width: 100%;
	background-color: #F4F4F4;
	color: #888888;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 27px 0 15.5px;
	position: fixed;
}

.lanmu>div {
	width: 33%;
	text-align: center;
}

.lanmu_item {
	display: flex;
	height: 54px;
	align-items: center;
	margin: 0 20px 0 15.5px;
	border-bottom: 1px solid #EDEDED;
}

.lanmu_item div {
	width: 32%;
}

.blankCenter {
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}
