/* 行政管理页面css */
.xzspt {
			padding-top: 15px;
			margin-left: 5%;
			display: flex;
			justify-content: flex-start;
			font-size: 18px;
			font-family: PingFang SC;
			font-weight: 400;
			color: #262626;
		}

		/* 筛选的样式代码 */
		.xztop {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 20px;
			padding-right: 5%;
			padding-left: 5%;
		}

		.to__flow__time {
			display: flex;
			width: 90px;
			height: 28px;
			justify-content: center;
			align-items: center;
			/* margin-top: 17.5px; */
		}

		.to__flow__time p {
			width: 50%;
			text-align: center;
			height: 100%;
			line-height: 28px;
			margin: 0;
			padding: 0;
			border: 1px solid rgba(238, 238, 238, 1);
		}

		.to__flow__time .active {
			background-color: rgba(4, 147, 243, 1);
			color: #fff;
			border: 1px solid rgba(4, 147, 243, 1);
		}

		.to__time__se {
			display: flex;
			margin-left: 10px;
			margin-right: 10px;
			/* margin-top: 17.5px; */
			align-items: center;
		}

		.to__time__se p {
			width: ;
			margin: 0;
			padding: 0;
			color: rgba(4, 147, 243, 1);
		}

		.to__time__se img {
			width: 12px;
			height: 7px;
		}

		.twoxz {
			display: flex;
		}

		.wzxx {
			font-size: 14px;
			color: #0493f3;
			margin-right: 0.3125rem;
		}

		/* 筛选的样式代码结束 */
		.slgwz {
			display: flex;
			margin-top: 16px;
			padding-left: 5%;
		}

		.slgwz-1-1 {
			font-size: 19px;
			font-family: PingFang SC;
			font-weight: bold;
			color: #0493F3;
		}
		.sbjctj{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 15px;
			padding-left: 5%;
			padding-right: 5%;
		}
		.sbtopwz{
			font-size: 18px;
			font-family: PingFang SC;
			font-weight: 400;
			color: #262626;
		}