<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>混接点管理-新增混接点</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/common.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.imageviewer.css" />
		<style>
			.mui-popover {
			height: 300px;
		}
		.mui-content {
			padding: 10px;
		}
		.bar-title{
			font-size: 14px;
			font-weight: 400;
			color: #888888;
		}
		.item-title{
			font-size: 14px;
			font-weight: 400;
			color: #444444;
		}
	.mui-icon-arrowright{
		color:#62666E;
		font-weight: 100 !important;
	}
	.inputCss{
		font-size: 16px;
		font-weight: 400;
		color: #1A1616;
		height: 30px;
	}
	.checkBoxCss{
		font-size: 16px;
		font-weight: 400;
		color: #000000;
	}
		.img_item{
			text-align: left;
			width: 72px;
			height: 100px;
			float: left;
			margin-right: 20px;
		}
		.img_item img{
			width: 72px;
			height: 72px;
		}
		.bottom-item-btn {
			height: 100px;
			position: fixed;
			z-index: 999;
			width: 100%;
			background: #f2f2f2;
			bottom: 0px;
			padding-top: 30px;
		}
		.bottom-item-btn .item {
			width: 90%;
			margin-left: 5%;
			text-align: center;
			padding: 0 14px;

		}

		.bottom-item-btn .item div {
			border: 1px solid #337BFB;
			border-radius: 20px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
		}
		.file-item-box ul li{
			height: 30px;
			line-height: 30px;
			padding: 0;
			margin: 0;

		}
		.mui-table-view:after{ height:0}
		.mui-table-view:before{ height:0}
		.mui-table-view-cell:after{ height:0}
		.mui-table-view-cell:before{ height:0}
		.mui-table-view::-webkit-scrollbar {
			display: none;
		}
		.mui-table-view-cell{
			width: 100%;
			text-align: left;
		}
		.file_upload{
			padding: 3px 0;
			width: 90px;
			background: #337BFC;
			border: 1px solid #337BFC;
			border-radius: 26px;
		}
		.btn-label{
			font-size: 12px;
			font-weight: 400;
			color: #B1B1B1;
			line-height: 14px;
		}
		.file-name{
			width: 85%;
			margin-left: 5px;
			box-sizing: border-box;
			overflow: scroll;
			color: blue;
			float: left;
			white-space: nowrap;
		}
		.file-name{
			display: inline-block;
		}
		.file_close{
			float: right;
		}
	</style>
	</head>

	<body>
		<!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<div class="bottom-item-btn" id="bottom-item-btn">
		<!-- 	<div class="item" id="hold">
				<div id="save" style="background: #fff;color:#337BFC ;border:1px solid #337BFC">暂存</div>
			</div> -->
			<div class="item" id="next_step">
				<div style="background: #337BFC;color: #fff">下一步</div>
			</div>
		</div>
		<!--页面主结构结束-->
		<!--单页面开始-->
		<div id="mui-content" class="mui-page paish">
			<!--页面标题栏开始-->
		<div style="position:fixed;top:0;left:0;z-index: 99;width:100%;background: #ffffff;">
			<ol class="steps">
				<li class="step-active">
					<div class="step-content">
						<div class="step-num"></div>
						<div class="step-text">项目基本情况</div>
					</div>
				</li>
				<li class="step-active">
					<div class="step-line"></div>
					<div class="step-content">
						<div class="step-num"></div>
						<div class="step-text">水保方案</div>
					</div>
				</li>
				<li class="">
					<div class="step-line"></div>
					<div class="step-content">
						<div class="step-num"></div>
						<div class="step-text">检查计划</div>
					</div>
				</li>
			</ol>
			<div style="height: 5px;background: #F4F4F4;"></div>
		</div>
			<!--页面标题栏结束-->
			<!--页面主内容区开始-->
			<div class="mui-page-content">
				<div id="scroll-content" class="mui-scroll-wrapper"  style="margin-top: 90px;background-color: #ffffff;">
					<div class="mui-scroll">
						<div class="scroll-li" style="padding-bottom: 20px;">
							<div class="bar-title">
								水保方案
							</div>
							<div class="info-bar-content">
								<div class="info-bar-content-item">
									<div class="item-title">
										方案类型<span style="color: red;margin-left: 3px;">*</span>
									</div>
									<input id="programmeType" type="text" style="display: none;">
									<div class="mui-input-row item-input">
										<input id="programmeType_text" readonly="readonly" type="text" value="" placeholder="请选择方案类型"
										 class="inputCss" style="width:90%;" required="true">
										<span class="mui-icon mui-icon-arrowright"></sapn>
									</div>
								</div>
								<div class="info-bar-content-item upload-file-box isShow" id="fileUploadBox" style="height:100px;">
									<div class="item-title" style="margin-bottom: 20px;">方案附件
									<span style="color: red;margin-left: 3px;" id="isRequire">*</span></div>
									<input id="programme" type="hidden" value="" />
									<div id="file3" class="file_item" style="text-align: left;">
										<button type="button" name="file" id="upload_file" class="file_upload mui-btn mui-btn-primary">上传文件</button>
										<span class="btn-label">只能上传.doc .docx .pdf文件!</span>
									</div>
									<div class="" id="fileBoxItem" style="display: none;">
										<!-- 底下已经控制数据 -->
										<input type="hidden" name="" id="fileToken" value="" />
										<div class="file-item-box" style="background: #F4F7FE;text-align: left;margin: 10px 0;">
											<img id="file_type" src="../../img/commom/doc.png" style="width: 50px;height: 50px;vertical-align: middle;margin-left:10px">
											<div id="" style="display: inline-block;vertical-align: middle;margin: 12px 0 0 10px;width:60%">
												<p id="file_name" style="font-weight:500;color: #191515;word-break: break-all;"></p>
												<p id="file_size" style="font-weight:400;color: #191515;"></p>
											</div>
											<img class="file_close" src="../../img/commom/close@2x.png" style="width: 16px;height: 16px; float: right;vertical-align: top;margin: 10px 10px 0 0;">
										</div>
									</div>
								</div>
								<div class="info-bar-content-item isShow">
									<div class="item-title">
										批复文号
									</div>
									<div class="mui-input-row item-input">
										<input id="approvalNumber" type="text" class="mui-input-clear" value="" placeholder="请输入批复文号"
										 style="width:90%;" class="inputCss"  maxlength="21" onkeyup="format_input(1,this)">
									</div>
								</div>
								<div class="info-bar-content-item isShow">
									<div class="item-title">
										<span>审批部门</span>
									</div>
									<div class="mui-input-row item-input">
										<input id="approvalDep" class="mui-input-clear inputCss" style="width:90%;"
										placeholder="请输入审批部门"  maxlength="21" onkeyup="format_input(2,this)">
									</div>
								</div>
								<div class="info-bar-content-item isShow">
									<div class="item-title">
										批复时间
									</div>
									<div class="mui-input-row item-input">
										<input id="approvalDate" class="inputCss" readonly="readonly" type="text" class="mui-input-clear" placeholder="请选择批复时间"
										 style="width: 90%;">
										<img src="../../img/commom/time.png" style="width: 16px;height: 16px;float: right;margin-top: 8px;">
									</div>
								</div>
								<div id="bottom-div" style="height: 100px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--页面主内容区结束-->
		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/mui.view.js"></script>
	<script src="../../js/mui.locker.js"></script>
	<script src="../../js/mui.picker.min.js"></script>
	<script src="../../js/mui.picker.js"></script>
	<script src="../../js/mui.poppicker.js"></script>

	<script src="../../js/app.js"></script>

	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>	
	<script src="../../js/common.js"></script>
	<script src="../../js/conservation.js"></script>
	<script src="../../js/helper.js"></script>
	<script src="../../js/uploadimage.js"></script>
	<script src="../../js/s4.js"></script>
	<script src="../../js/smutils.js"></script>
	<script src="../../js/byte&string.js"></script>
	<script src="../../js/ajaxhook.min.js"></script>
	<script src="../../js/mui.zoom.js"></script>
	<script src="../../js/mui.previewimage.js"></script>

	<script src="../../js/vconsole.min.js"></script>
	<script>
		// var vConsole = new VConsole();
		mui.init({swipeBack:false});
		var isUpload = true;
		//初始化单页view
		var viewApi = mui('#app').view({
			defaultPage: '#mui-content'
		});



		//初始化单页的区域滚动
		mui('.mui-scroll-wrapper').scroll();

		var userPicker = new mui.PopPicker();
		mui.plusReady(function() {

			//界面元素控制
			initView();

			// 点击事件
			initDownSelect();
			//加载暂存数据
			// showData()

			var originalHeight = document.documentElement.clientHeight || document.body.clientHeight;
			window.onresize = function() {
				var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;
				//软键盘弹起与隐藏  都会引起窗口的高度发生变化
				if (resizeHeight * 1 < originalHeight * 1) { //resizeHeight<originalHeight证明窗口被挤压了				
					$("#bottom-item-btn").hide()
				} else {
				
					$("#bottom-item-btn").show()
				}
			}
		});

		//界面元素控制
		var initView = function() {

			var self = plus.webview.currentWebview();

		}

		// 点击事件
		var initDownSelect = function() {
			//方案类型
			$("#programmeType_text").on("tap", function() {
				var that = $(this);
				getDictItems('programme_type', function(data) {
					if (206 != parseInt(data.code)) {
						app.toast(data.message);
						return;
					}
					var resultJSON = [];
					for (var i = 0; i < data.result.length; i++) {
						var item = data.result[i];
						resultJSON.push({
							text: item.text,
							value: item.value
						})
					}
					if ($(".mui-poppicker").hasClass("mui-active")) {
						userPicker.hide();
						return false;
					} else {
						userPicker.setData(resultJSON);
						userPicker.show(function(items) {
							$("#programmeType_text").val(items[0].text);
							$("#programmeType").val(items[0].value);
							
							if(items[0].text == '无'){
								$(".isShow").hide()
							}else{							
								$(".isShow").fadeIn()
							}
						});
					}
				})
			})

			//日期选择
			$("#approvalDate").on("tap", function() {
				var that = $(this);
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					var date1 = d.getFullYear() + "-" + preZero((d.getMonth() + 1), 2) + "-" + preZero(d.getDate(), 2)
					plus.nativeUI.pickTime(function(e) {
						var d2 = e.date;
						var time = preZero(d2.getHours(), 2) + ":" + preZero(d2.getMinutes(), 2) + ":" + preZero(d2.getSeconds(),
							2)
						that.val(date1 + " " + time)
					}, function(e) {
						that.val("");
					}, {
						title: "请选择时间"
					});
				}, function(e) {
					that.val("");
				}, {
					title: "请选择日期"
				});
				plusDate(function(data) {
					that.val(data)
				}, 1);
			})

			//文件上传
			$("#upload_file").on("tap", function() {
				if(isUpload){
					isUpload = false;
					let fileSuffix = 'doc、docx、pdf';
				var that = $(this);
				plusSelectFile(fileSuffix,function(data, path) {
					console.log(path)
					console.log(JSON.stringify(data))
					var suffix = path.substring(path.lastIndexOf(".") + 1, path.length);
					var name = path.substring(path.lastIndexOf("/") + 1, path.length);
					var iconPath = "";
					console.log(suffix)
					switch (suffix) {
						case 'doc':
						case 'docx':
							iconPath = '../../img/commom/doc.png';
							break;
						// case 'xlsx':
						// case 'xls':
						// 	iconPath = '../../img/commom/xlsx.png';
						// 	break;
						case 'pdf':
							iconPath = '../../img/commom/pdf.png';
							break;
						default:
							app.toast("只能上传.doc .docx .pdf文件！")
							return;
					}
					if (data.success) {
						app.toast("文件上传成功");
						$("#fileUploadBox").css("height", 180)
						$("#fileBoxItem").fadeIn()
						that.attr("disabled", true)
						$("#file_type").attr('src', iconPath)
						$("#file_name").html(name)
						$("#programme").val(data.result.fileTokens)
						$("#fileToken").val(data.result.fileTokens)

						plus.io.resolveLocalFileSystemURL(path, function(entry) {
							entry.file(function(file) {
								let fileSize = Math.floor(file.size / 1024);
								console.log(file.size + "===" + fileSize)
								$("#file_size").html(fileSize + "KB")
								var fileProperty = {
									fileName: name,
									fileType: iconPath,
									fileSize: file.size,
									fileToken: data.result.fileTokens
								}
								globalSetItem(GlobalKey.fileProperty, JSON.stringify(fileProperty))
							});
						}, function(e) {
							alert("文件获取失败:" + e.message);
						});
					} else {
						app.toast(data.message);
					}
				})
				}
				setTimeout(function(){
					isUpload = true
				},1000)
				});
				
				
			$(document).on('tap', '.img_src', function() {
				mui.previewImage();
			});
			//删除文件
			$(document).on("tap", ".file_close", function() {
				var that = $(this)
				mui.confirm("移除该文件?", "提示", ['确定', '我再想想'], function(result) {
					if (parseInt(result.index) == 0) {
						$("#fileUploadBox").css("height", 100)
						$("#fileBoxItem").hide()
						$("#upload_file").attr("disabled", false)
						$("#fileToken").val("")
						$("#programme").val('')
						globalDelItem(GlobalKey.fileProperty)
					}
				})
			});
		}
		//暂存
		$("#save").on("tap", function(event) {
			saveProForm()
			app.showLoaderWithMsg("正在暂存中，请稍后...")
			setTimeout(function() {
				app.hideLoader()
				app.toast("暂存成功！")
				mui.confirm("是否继续?", "提示", ['下一步', '取消', '返回列表'], function(result) {
					if (parseInt(result.index) == 0) { //下一步
						app.openPage("addProject_stepThree.html", {
							titleNView: {
								titleText: '新增项目',
								autoBackButton: true,
							}
						}, {});
					} else if (parseInt(result.index) == 1) { //取消

					} else if (parseInt(result.index) == 2) { //返回列表
						plus.webview.currentWebview().opener().close('none');
						plus.webview.currentWebview().close('none');
					}
				})
			}, 1000)
		})


		//提交
		$("#next_step").on("tap", function(event) {
			if (validateRequiredFields()) {
			if($("#programmeType_text").val() != '无' && $("#programme").val() == ''){
				app.toast("请上传方案附件")
				return;
			}else{
				//组装表单数据
				saveProForm();
				app.openPage("addProject_stepThree.html", {
					titleNView: {
						titleText: '新增项目',
						autoBackButton: true,
					}
				}, {});
			}
			}

		});
		//重新加载
		var reloadAddress = function(data) {
			window.location.reload();
		}

		//组装混接点表单
		function saveProForm() {
			var pro_form = localStorage.getItem("pro_form_data");
			try {
				if (pro_form) {
					pro_form = JSON.parse(pro_form)
				}
			} catch (err) {
				console.log(err)
			}
			pro_form.programmeType = $("#programmeType").val();
			//附件
			var attachment = [{
				"groupId": "",
				"fileTokens": "",
				"fieldName": "programme",
				"tableName": "conservation_project_list",
			}]
			var groupId = getGroupId();
			if($("#programmeType_text").val() == '无'){			
				pro_form.approvalNumber ='';
				pro_form.approvalDep = '';
				pro_form.approvalDate = '';
				
				pro_form.programme = groupId;
				attachment[0].groupId = groupId;
				pro_form.strAttachment = JSON.stringify(attachment)			
			}else{							
				pro_form.approvalNumber = $("#approvalNumber").val();
				pro_form.approvalDep = $("#approvalDep").val();
				pro_form.approvalDate = $("#approvalDate").val();
				
				//附件
				var attachment = [{
					"groupId": "",
					"fileTokens": "",
					"fieldName": "programme",
					"tableName": "conservation_project_list",
				}]
				var ftoken = $("#fileToken").val()
				if (ftoken != "") {
					pro_form.programme = groupId;
					attachment[0].groupId = groupId;
					attachment[0].fileTokens = $("#fileToken").val()
					pro_form.strAttachment = JSON.stringify(attachment)
				}				
			}

			localStorage.setItem("pro_form_data", JSON.stringify(pro_form));
			console.log("twoStep=======" + localStorage.getItem("pro_form_data"));
			return true;
		}

		//加载暂存数据
		function showData() {
			var pro_form = localStorage.getItem("pro_form_data");
			try {
				if (pro_form) {
					pro_form = JSON.parse(pro_form)
				}
			} catch (err) {
				console.log(err)
			}
			console.log("pro_form" + JSON.stringify(pro_form))
			if (pro_form.programmeType != "") {
				$("#programmeType").val(pro_form.programmeType);;
				getDicTextByIdAndKey(pro_form.prjSource, 'programme_type', function(data) {
					if (data != '无' && data != "") {
						$("#programmeType_text").val(data)
					}
				});
			}

			$("#approvalNumber").val(pro_form.approvalNumber);
			$("#approvalDep").val(pro_form.approvalDep);
			$("#approvalDate").val(pro_form.approvalDate);


			var fileProperty = globalGetItem(GlobalKey.fileProperty)
			if (fileProperty != null && fileProperty != undefined && fileProperty != "") {
				var file = JSON.parse(fileProperty)
				$("#programme").val(file.fileToken);
				$("#fileToken").val(file.fileToken);
				$("#fileUploadBox").css("height", 180);
				$("#fileBoxItem").fadeIn();
				$("#upload_file").attr("disabled", true);
				$("#file_type").attr('src', file.fileType);
				$("#file_name").html(file.fileName);
				$("#file_size").html(file.fileSize + "KB")
			}
		}

		// 对Date的扩展，将 Date 转化为指定格式的String
		// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
		// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
		// 例子：
		// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
		// (new Date()).Format("yyyy-M-d h:m:s.S") ==> 2006-7-2 8:9:4.18

		Date.prototype.Format = function(fmt) { // author: meizz
			var o = {
				"M+": this.getMonth() + 1, // 月份
				"d+": this.getDate(), // 日
				"h+": this.getHours(), // 小时
				"m+": this.getMinutes(), // 分
				"s+": this.getSeconds(), // 秒
				"q+": Math.floor((this.getMonth() + 3) / 3), // 季度
				"S": this.getMilliseconds() // 毫秒
			};
			if (/(y+)/.test(fmt))
				fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
				if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" +
					o[k]).substr(("" + o[k]).length)));
			return fmt;
		}

		//生成groupId
		function getGroupId() {
			return 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = Math.random() * 16 | 0,
					v = c == 'x' ? r : (r & 0x3 | 0x8);
				return v.toString(16);
			});
		}

		function format_input(type, obj) {
			if (/^\s+$/gi.test(obj.value)) {
				obj.value = '';
			}
			var t;
			var num;
			switch (type){
				case 1: 
					t = '批复文号';
					num = 20;
					break
				case 2:
					t = '审批部门';
					num = 20;
					break																																														
			}
			if (obj.value.length > num) {
				obj.value = obj.value.slice(0, num);
				// obj.focus();
				app.toast(t + "不可大于" + num + "个字！")
			}
		}	
	</script>

</html>
